<app-dock-popup [dockPopupRef]="dockPopupRef" [header]="HEADER"
    [actions]="{ lockToggle: true, showButtonClose: false, showButtonChevron: true, showActions: false}"
    [style]="STYLE">
    <div body fxLayout="column">
        <div *ngIf="agendas?.length" fxLayout="row" fxLayoutAlign="space-between">
            <mat-form-field appearance="outline">
                <mat-label [translate]="'turnos.home.SELECT_AGENDA'"></mat-label>
                <mat-select [(value)]="agendaSelected">
                    <mat-option *ngFor="let agenda of agendas" [value]="agenda"
                        (onSelectionChange)="changeAgendaSelected($event, agenda)">
                        <span class="mat-body-strong">
                            {{agenda.doctorsOfficeDescription}}
                        </span>
                        <span class="mat-body">
                            {{agenda.startDate | date: dateFormats.SHORT_DATE }} - {{agenda.endDate | date:
                            dateFormats.SHORT_DATE}}
                        </span>
                    </mat-option>
                </mat-select>
                <button id="clear_agenda_selected" type="button" mat-button *ngIf="agendaSelected && showButtonToClear" matSuffix
                    color="warn" mat-icon-button (click)="clear(); $event.stopPropagation()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
        <app-agenda *ngIf="agendaSelected" class="agenda" [canCreateAppoinment]="false" [id]="agendaSelected.id"
            [showAll]="false" [view]="calendarViewEnum.Day" [viewDate]="calendarDate">
        </app-agenda>
    </div>
</app-dock-popup>
