.bold {
    font-weight: bold;
}

.color-grey {
    color: #a8a8a8;
}


#blood-type {
    font-size: 28px;
    margin: 0;
}

.group-and-factor-properties {
    text-align: center;
    line-height: 16px;
}

#allergy-container {
    padding: 10px;
}

#coverage-title {
    margin-top: 2px;
    margin-bottom: 2px;
}


mat-divider.header-divider {
    margin-right: 10px;
    margin-left: 10px;
}

.color-disabled {
    color: rgba(0, 0, 0, 0.38);
}

.allergies-button:hover {
    text-decoration: underline;
}

.allergies-button {
    padding-left: 0;
}

.allergy-icon {
    font-size: 16px;
    padding-top: 2px;
}

mat-label.actions-labels {
    margin-left: 15px;
    font-size: 12px;
    font-weight: 600;
}

button.actions {
    font-weight: 500;
}

.no-blood-data {
    text-align: center;
    max-width: 150px;
}

.top_padded_content {
    padding-top: 6px;
}

.sided_spaced_content {
    padding-left: 10px;
    padding-right: 10px;
}