<section id="select-agenda" *ngIf="agendas?.length" fxLayout="row" fxLayoutAlign="space-between center"
	fxLayout.xs="column" fxLayoutAlign.xs="space-between center">
	<mat-form-field fxFlex.gt-xs="35%" appearance="outline">
		<mat-label [translate]="'turnos.home.SELECT_AGENDA'"></mat-label>
		<mat-select [(value)]="agendaSelected">
			<mat-optgroup *ngIf="activeAgendas?.length">
				<mat-label><strong>{{ 'turnos.home.ACTIVES_AGENDAS_LABEL' | translate }}</strong></mat-label>
				<mat-option *ngFor="let agenda of activeAgendas" [value]="agenda"
					(onSelectionChange)="changeAgendaSelected($event, agenda)">
					<span class="mat-body-strong">
						{{agenda.alias === undefined || agenda.alias == "" ? agenda.clinicalSpecialtyName : getAliasAndSpecialtyText(agenda.alias, agenda.clinicalSpecialtyName)}}
					</span>
					<span class="mat-body">
						{{agenda.startDate | date:dateFormats.SHORT_DATE }} - {{agenda.endDate | date:dateFormats.SHORT_DATE}}
					</span>
				</mat-option>
			</mat-optgroup>
			<mat-optgroup id="expired-agendas" *ngIf="expiredAgendas?.length">
				<mat-label><strong>{{ 'turnos.home.EXPIRED_AGENDAS_LABEL' | translate }}</strong></mat-label>
				<mat-option *ngFor="let agenda of expiredAgendas" [value]="agenda"
					(onSelectionChange)="changeAgendaSelected($event, agenda)">
					<span class="mat-body-strong">
						{{agenda.alias === undefined || agenda.alias == "" ? agenda.clinicalSpecialtyName : getAliasAndSpecialtyText(agenda.alias, agenda.clinicalSpecialtyName)}}
					</span>
					<span class="mat-body">
						{{agenda.startDate | date:dateFormats.SHORT_DATE }} - {{agenda.endDate | date:dateFormats.SHORT_DATE}}
					</span>
				</mat-option>
			</mat-optgroup>
		</mat-select>
		<button id="clear_agenda_selected" type="button" mat-button *ngIf="agendaSelected" matSuffix color="warn"
			mat-icon-button (click)="clear(agendaSelected); $event.stopPropagation()">
			<mat-icon>close</mat-icon>
		</button>
	</mat-form-field>

	<div class="actions" *ngIf="agendaSelected" fxLayout="row" fxLayoutGap="3px">
		<button mat-flat-button color="primary" id="print_agenda" name="print_agenda" (click)="printAgenda()">
			<mat-icon>print</mat-icon>
		</button>
		<button mat-flat-button color="primary" *appHasRole="['ADMINISTRADOR_AGENDA']" id="edit_agenda"
			name="edit_agenda" (click)="goToEditAgenda()">
			<mat-icon>edit</mat-icon>
		</button>
		<button mat-flat-button color="warn" *appHasRole="['ADMINISTRADOR_AGENDA', 'ADMINISTRATIVO']" id="block_agenda"
			(click)="blockAgenda()">
			<mat-icon>block</mat-icon>
		</button>
		<button mat-flat-button color="warn" *appHasRole="['ADMINISTRADOR_AGENDA']" id="delete_agenda" name="delete_agenda"
		        (click)="deleteAgenda()">
			<mat-icon>delete</mat-icon>
		</button>
	</div>

</section>

<ng-container *ngIf="!agendas?.length">
	<section id="no-agenda" *ngIf="agendas?.length === 0" class="no-agenda">
		<mat-card>
			<mat-card-header>
				<mat-card-title [translate]="'turnos.home.NO_AGENDA_MSG_TITLE'"></mat-card-title>
				<mat-card-subtitle [translate]="'turnos.home.NO_AGENDA_MSG_SUBTITLE'"></mat-card-subtitle>
			</mat-card-header>
			<mat-card-content>
				<button mat-flat-button color="primary" id="goToNewAgendaButton" *appHasRole="['ADMINISTRADOR_AGENDA']"
					(click)="goToNewAgenda()" fxFlexFill.xs>
					<span class="uppercase" [translate]="'turnos.home.actions.CREATE_AGENDA'"></span>
				</button>
			</mat-card-content>
		</mat-card>
	</section>
</ng-container>

<router-outlet></router-outlet>
