<div class="layout-container" [class.layout-is-mobile]="mobileQuery.matches" >
	<app-bar *ngIf="menuItems" [position]="mobileQuery.matches ? 'fixed' : 'static'" (mouseover)="toggleSidebarHoverOut()" >
		<ng-container *ngIf="mobileQuery.matches else menuDesktop">
			<button id="menu" mat-icon-button (click)="sidenav.toggle()">
				<mat-icon color="primary">menu</mat-icon>
			</button>
		</ng-container>
		<ng-template #menuDesktop>
			<button id="menuDesktopBlock" mat-icon-button (click)="toggleSidebarBlock()">
				<mat-icon color="primary">menu</mat-icon>
			</button>
		</ng-template>
	</app-bar>

	<mat-sidenav-container class="layout-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 57 : 0">

		<mat-sidenav #sidenav [(opened)]="opened" [mode]="mobileQuery.matches ? 'over' : 'side'"
			[fixedInViewport]="mobileQuery.matches" fixedTopGap="57" (mouseover)="toggleSidebarHoverOver()">

			<div class="custom-container">
				<div class="top">
					<ng-content *ngIf="isCollapsed else locationInfo" select="[location-info-min]"></ng-content>
					<ng-template #locationInfo>
						<ng-content select="[location-info]"></ng-content>
					</ng-template>
					<mat-divider></mat-divider>
					<app-menu [menuItems]="menuItems" [hideName]="isCollapsed"></app-menu>
				</div>

				<div class="bottom">
					<div class="informative-items">
						<ng-content *ngIf="isCollapsed else accountInfo" select="[account-info-min]"></ng-content>
						<ng-template #accountInfo>
							<ng-content select="[account-info]"></ng-content>
						</ng-template>
						<mat-divider></mat-divider>
						<button mat-button id="logout" (click)="logout()">
							<mat-icon>logout</mat-icon>
							<span [hidden]="isCollapsed" translate="app.menu.LOGOUT"></span>
						</button>
					</div>
				</div>
			</div>
		</mat-sidenav>

		<mat-sidenav-content (mouseover)="toggleSidebarHoverOut()" [style.margin-left.px]="!mobileQuery.matches && menuItems ? marginLeft : 0">
			<div class="panel">
				<router-outlet></router-outlet>
			</div>
			<app-footer></app-footer>
		</mat-sidenav-content>
	</mat-sidenav-container>
</div>
