.layout-container {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

app-bar {
	z-index: 2;
}

.layout-sidenav-container {
	/* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
	   causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
	flex: 1;

	mat-sidenav-content {
		display: flex;
		flex-direction: column;
		align-items: stretch;

		.panel {
			flex-grow: 1;
		}

		app-footer {
			flex-shrink: 0;
		}
	}

	.custom-container {
		height: 100%;
		display: flex;
		flex-direction: column;
		justify-content: space-between;

		.informative-items {
			text-align: center;

			button#logout {
				width: auto;
				margin: 15px;

				mat-icon {
					color: red;
					transform: rotate(180deg);
				}
				span {
					padding: 0 5px;
					font-weight: normal;
					font-size: 12px;
				}
			}

			button#logout:hover {
				background: rgba(0, 0, 0, 0.04);
			}
		}
	}
}

mat-sidenav {
	max-width: 204px;
}

.layout-is-mobile {
	.layout-sidenav-container {
		/* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
		   `<body>` to be our scrolling element for mobile layouts. */
		flex: 1 0 auto;
	}
}
