<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">

<head th:fragment="headerfiles">
    <title>Report</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
    <!--
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
              integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous"/>
    -->
    <style>
		h3 {
			padding-top:10px
		}
        row {
            padding-left: 50px
        }
        .wide_wrapped_text {
            max-width: 70%;
            word-wrap: break-word;
            text-align: justify;
            text-justify: inter-word;
        }
	</style>
</head>
<body>

    <div th:fragment="header (title, subtitle)">
        <h2 th:text="${title}"></h2>
        <p th:text="${subtitle}"></p>
    </div>

    <!-- Datos personales -->

    <div th:fragment="personalData (patientType)">
        <h3 th:text="${patientType}"></h3>
        <div th:if="${patient.person != null}">
            <strong>- ID: </strong><label  th:text="${patient.id}"></label><br/>
            <strong>- Nombre: </strong><label  th:text="${patient.person.firstName}"></label><br/>
            <strong>- Apellido: </strong><label th:text="${patient.person.lastName}"></label><br/>
            <strong>- Edad: </strong><label th:text="${patient.person.age}"></label><br/>
            <strong>- Sexo: </strong><label  th:text="${patient.person.gender.description}"></label><br/>
        </div>
    </div>

    <!-- Especialidad clínica -->
    <div th:fragment="clinicalSpecialty (message)">
        <h3 th:text="${message}"></h3>
        <div th:if="${clinicalSpecialty == null}">
            <dl class="lista" >
                <dd><p >Sin especialidad asociada</p></dd>
            </dl>
        </div>
        <div th:if="${clinicalSpecialty != null}">
            <dl>
                <dd><p  th:text="${'- ' + clinicalSpecialty.name}"></p></dd>
            </dl>
        </div>
    </div>

    <!-- Diagnóstico principal -->
    <div th:fragment="mainDiagnosis (message)">
        <h3 th:text="${message}"></h3>
        <div th:if="${mainDiagnosis == null}">
            <dl class="lista" >
                <dd><p >Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${mainDiagnosis != null}">
            <dl>
                <dd><p  th:text="${'- ' + mainDiagnosis.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong>Estado: </strong><label  th:text="${mainDiagnosis.status}"></label></dd>
                    <dd><strong>Verificación: </strong><label  th:text="${mainDiagnosis.verification}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Otros Diagnósticos/enfermedades -->
    <div th:fragment="diagnosis (message)">
        <h3 th:text="${message}"></h3>
        <div th:if="${#lists.isEmpty(diagnosis)}">
            <dl class="lista" >
                <dd><p >Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(diagnosis)}">
            <dl th:each="diagnose,iter: ${diagnosis}">
                <dd><p  th:text="${'- ' + diagnose.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong>Estado: </strong><label  th:text="${diagnose.status}"></label></dd>
                    <dd><strong>Verificación: </strong><label  th:text="${diagnose.verification}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>


    <!-- Motivos -->
    <div th:fragment="reasons (message)">
        <h3 th:text="${message}"></h3>
        <div th:if="${#lists.isEmpty(reasons)}">
            <dl class="lista" >
                <dd><p >Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(reasons)}">
            <dl th:each="reason,iter: ${reasons}">
                <dd><p  th:text="${'- ' + reason.snomed.pt}"></p></dd>
            </dl>
        </div>
    </div>


    <!-- Procedimientos -->
    <div th:fragment="procedures (message)">
        <h3 th:text="${message}"></h3>
        <div th:if="${#lists.isEmpty(procedures)}">
            <dl class="lista" >
                <dd><p >Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(procedures)}">
            <dl th:each="procedure,iter: ${procedures}">
                <dd><p  th:text="${'- ' + procedure.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong>Estado: </strong><label  th:text="${procedure.status}"></label></dd>
                    <dd th:if="${procedure.performedDate  != null}"><strong>Fecha de realización: </strong><label th:text="${#temporals.format(procedure.performedDate, 'dd/MM/yyyy')}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Problems -->
    <div th:fragment="problems (message)">
        <h3 th:text="${message}"></h3>
        <div th:if="${#lists.isEmpty(problems)}">
            <dl class="lista" >
                <dd><p >Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(problems)}">
            <dl th:each="problem,iter: ${problems}">
                <dd><p  th:text="${'- ' + problem.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong>Estado: </strong><label  th:text="${problem.status}"></label></dd>
                    <dd><strong>Verificación: </strong><label  th:text="${problem.verification}"></label></dd>
                    <dd><strong>Fecha de inicio: </strong><label th:text="${#temporals.format(problem.startDate, 'dd/MM/yyyy')}"></label></dd>
                    <dd th:if="${problem.endDate  != null}"><strong>Fecha de fin: </strong><label th:text="${#temporals.format(problem.endDate, 'dd/MM/yyyy')}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Datos Antropometricos -->

    <div th:fragment="antropometicData">
    <h3>Datos antropométricos</h3>
        <div th:if="${anthropometricData == null}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${anthropometricData  != null}">
            - Factor sanguíneo:
            <strong><label  th:if="${anthropometricData.bloodType  != null}" th:text="${anthropometricData.bloodType.value}"></label></strong>
            <strong><span  th:if="${anthropometricData.bloodType  == null}">Sin cambios registrados</span></strong><br/>

            - Talla:
            <strong><label  th:if="${anthropometricData.height  != null}" th:text="${anthropometricData.height.value + 'cm'}"></label></strong>
            <strong><span  th:if="${anthropometricData.height  == null}">Sin cambios registrados</span></strong><br/>

            - Peso:
            <strong><label  th:if="${anthropometricData.weight  != null}" th:text="${anthropometricData.weight.value + 'Kg'}"></label></strong>
            <strong><span  th:if="${anthropometricData.weight  == null}">Sin cambios registrados</span></strong><br/>

            - IMC:
            <strong><label  th:if="${anthropometricData.BMI  != null}" th:text="${anthropometricData.BMI.value}"></label></strong>
            <strong><span  th:if="${anthropometricData.BMI  == null}">Sin cambios registrados</span></strong><br/>

            - Perímetro cefálico:
            <strong><label  th:if="${anthropometricData.headCircumference  != null}" th:text="${anthropometricData.headCircumference.value + 'cm'}"></label></strong>
            <strong><span  th:if="${anthropometricData.headCircumference  == null}">Sin cambios registrados</span></strong><br/>
        </div>
    </div>

    <!-- Diagnósticos dentales -->

    <div th:fragment="dentalDiagnostics">
        <h3>Diagnósticos dentales</h3>
        <div th:if="${#lists.isEmpty(dentalDiagnostics)}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(dentalDiagnostics)}">
            <dl th:each="diagnostic,iter: ${dentalDiagnostics}">
                <dd><p  th:text="${'- ' + diagnostic.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong>Pieza: </strong><label  th:text="${diagnostic.tooth.pt}"></label></dd>
                    <dd th:if="${diagnostic.surface  != null}"><strong>Cara: </strong><label  th:text="${diagnostic.surface.pt}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Procedimientos dentales -->

    <div th:fragment="dentalProcedures">
        <h3>Procedimientos dentales</h3>
        <div th:if="${#lists.isEmpty(dentalProcedures)}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(dentalProcedures)}">
            <dl th:each="procedure,iter: ${dentalProcedures}">
                <dd><p  th:text="${'- ' + procedure.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong>Pieza: </strong><label  th:text="${procedure.tooth.pt}"></label></dd>
                    <dd th:if="${procedure.surface  != null}"><strong>Cara: </strong><label  th:text="${procedure.surface.pt}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Antecedentes personales -->

    <div th:fragment="personalHistory">
        <h3>Antecedentes personales</h3>
        <div th:if="${#lists.isEmpty(personalHistories)}">
            <dl>
                <dd><p >Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(personalHistories)}">
            <dl th:each="personalHistory,iter: ${personalHistories}">
                <dd><p  th:text="${'- ' + personalHistory.snomed.pt}"></p></dd>
            </dl>
        </div>
    </div>

    <!-- Antecedentes familiares -->

    <div th:fragment="familyHistory">
        <h3>Antecedentes familiares</h3>
        <div th:if="${#lists.isEmpty(familyHistories)}">
            <dd><p>Sin cambios registrados</p></dd>
        </div>
        <div th:if="${not #lists.isEmpty(familyHistories)}" >
            <dl th:each="familyHistory,iter: ${familyHistories}">
                <dd><p  th:text="${'- ' +familyHistory.snomed.pt}"></p></dd>
            </dl>
        </div>
    </div>

    <!-- Alergias -->

    <div th:fragment="allergies">
        <h3>Alergias</h3>
        <div th:if="${#lists.isEmpty(allergies)}">
            <dl>
                <dd><p >Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(allergies)}">
            <dl class="lista" th:each="allergy,iter: ${allergies}">
                <dd><p  th:text="${'- ' + allergy.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong>Estado: </strong><label  th:text="${allergy.status}"></label></dd>
                    <dd><strong>Verificación: </strong><label  th:text="${allergy.verification}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Vacunas -->

    <div th:fragment="immunizations">
        <h3>Vacunas aplicadas</h3>
        <div th:if="${#lists.isEmpty(billableImmunizations)}">
            <dl>
                <dd><p>Sin vacunas aplicadas</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(billableImmunizations)}">
            <dl th:each="immunization,iter: ${billableImmunizations}">
                <dd><strong>Vacuna</strong><p  th:text="${'- ' + immunization.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong th:if="${immunization.administrationDate != null}">Fecha de administración: </strong><label th:if="${immunization.administrationDate != null}" th:text="${immunization.administrationDate}"></label></dd>
                    <dd><strong th:if="${immunization.condition != null}">Condición: </strong><label th:if="${immunization.condition != null}" th:text="${immunization.condition.description}"></label></dd>
                    <dd><strong th:if="${immunization.scheme != null}">Esquema: </strong><label th:if="${immunization.scheme != null}" th:text="${immunization.scheme.description}"></label></dd>
                    <dd><strong th:if="${immunization.dose != null}">Dosis: </strong><label th:if="${immunization.dose != null}" th:text="${immunization.dose.description}"></label></dd>
                    <dd><strong th:if="${immunization.lotNumber != null}">Número de lote: </strong><label th:if="${immunization.lotNumber != null}" th:text="${immunization.lotNumber}"></label></dd>
                    <dd><strong th:if="${immunization.note != null}">Observaciones: </strong><label th:if="${immunization.note != null}" th:text="${immunization.note}"></label></dd>
                </dl>
            </dl>
        </div>
        <h3>Vacunas registradas</h3>
        <div th:if="${#lists.isEmpty(nonBillableImmunizations)}">
            <dl>
                <dd><p>Sin vacunas registradas</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(nonBillableImmunizations)}">
            <dl th:each="immunization,iter: ${nonBillableImmunizations}">
                <dd><strong>Vacuna</strong><p  th:text="${'- ' + immunization.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong th:if="${immunization.administrationDate != null}">Fecha de administración: </strong><label th:if="${immunization.administrationDate != null}" th:text="${immunization.administrationDate}"></label></dd>
                    <dd><strong th:if="${immunization.condition != null}">Condición: </strong><label th:if="${immunization.condition != null}" th:text="${immunization.condition.description}"></label></dd>
                    <dd><strong th:if="${immunization.scheme != null}">Esquema: </strong><label th:if="${immunization.scheme != null}" th:text="${immunization.scheme.description}"></label></dd>
                    <dd><strong th:if="${immunization.dose != null}">Dosis: </strong><label th:if="${immunization.dose != null}" th:text="${immunization.dose.description}"></label></dd>
                    <dd><strong th:if="${immunization.lotNumber != null}">Número de lote: </strong><label th:if="${immunization.lotNumber != null}" th:text="${immunization.lotNumber}"></label></dd>
                    <dd><strong th:if="${immunization.doctorInfo != null}">Doctor: </strong><label th:if="${immunization.doctorInfo != null}" th:text="${immunization.doctorInfo}"></label></dd>
                    <dd><strong th:if="${immunization.institutionInfo != null}">Institución: </strong><label th:if="${immunization.institutionInfo != null}" th:text="${immunization.institutionInfo}"></label></dd>
                    <dd><strong th:if="${immunization.note != null}">Observaciones: </strong><label th:if="${immunization.note != null}" th:text="${immunization.note}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Medicación habitual -->

    <div th:fragment="medications (title)">
        <h3 th:text="${title}"></h3>
        <div th:if="${#lists.isEmpty(medications)}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${not #lists.isEmpty(medications)}">
            <dl th:each="medication,iter: ${medications}">
                <dd><p  th:text="${'- ' + medication.snomed.pt}"></p></dd>
                <dl>
                    <dd><strong th:if="${medication.note != null}">Observaciones: </strong><label  th:text="${medication.note}"></label></dd>
                </dl>
            </dl>
        </div>
    </div>

    <!-- Factores de riesgo -->

    <div th:fragment="riskFactors">
        <h3 >Factores de riesgo</h3>
        <div  th:if="${riskFactors  == null}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>

        <div th:if="${riskFactors != null}">
            - Frecuencía cardíaca:
            <strong><span  th:if="${riskFactors.heartRate  == null}">Sin cambios registrados</span></strong>
            <strong><span  th:if="${riskFactors.heartRate  != null}" th:text="${riskFactors.heartRate.value + '/min'} "></span></strong>
            &nbsp;<span th:if="${riskFactors.heartRate != null}" >Fecha de medición: </span>
            <strong><span th:if="${riskFactors.heartRate != null}" th:text="${#temporals.format(riskFactors.heartRate.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>

            - Frecuencía respiratoria:
            <strong><span  th:if="${riskFactors.respiratoryRate  == null}">Sin cambios registrados</span></strong>
            <strong><span  th:if="${riskFactors.respiratoryRate != null}" th:text="${riskFactors.respiratoryRate.value + '/min'}"></span></strong>
            &nbsp;<span th:if="${riskFactors.respiratoryRate != null}" >Fecha de medición: </span>
            <strong><span  th:if="${riskFactors.respiratoryRate != null}" th:text="${#temporals.format(riskFactors.respiratoryRate.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>

            - Tensión arterial (Sistolica/Diastolica):
            <strong><span  th:if="${(riskFactors.systolicBloodPressure == null) &&  (riskFactors.diastolicBloodPressure == null)}">Sin cambios registrados</span></strong>

            <strong><span  th:if="${(riskFactors.systolicBloodPressure != null) &&  (riskFactors.diastolicBloodPressure == null)}" th:text="${riskFactors.systolicBloodPressure.value + '/- mm Hg'}"></span></strong>
            <strong><span  th:if="${(riskFactors.systolicBloodPressure == null) &&  (riskFactors.diastolicBloodPressure != null)}" th:text="${'-/' + riskFactors.diastolicBloodPressure.value + ' mm Hg'}"></span></strong>
            <strong><span  th:if="${(riskFactors.systolicBloodPressure != null) &&  (riskFactors.diastolicBloodPressure != null)}" th:text="${riskFactors.systolicBloodPressure.value + '/' + riskFactors.diastolicBloodPressure.value + ' mm Hg'}"></span></strong>


            &nbsp;<span th:if="${(riskFactors.systolicBloodPressure != null) || (riskFactors.diastolicBloodPressure != null)}" >Fecha de medición: </span>
            <strong><span  th:if="${(riskFactors.systolicBloodPressure != null) &&  (riskFactors.diastolicBloodPressure != null)}" th:text="${#temporals.format(riskFactors.systolicBloodPressure.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong>
            <strong><span  th:if="${(riskFactors.systolicBloodPressure != null) &&  (riskFactors.diastolicBloodPressure == null)}" th:text="${#temporals.format(riskFactors.systolicBloodPressure.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong>
            <strong><span  th:if="${(riskFactors.systolicBloodPressure == null) &&  (riskFactors.diastolicBloodPressure != null)}" th:text="${#temporals.format(riskFactors.diastolicBloodPressure.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>

            - Temperatura corporal:
            <strong><span  th:if="${riskFactors.temperature  == null}">Sin cambios registrados</span></strong>
            <strong><span  th:if="${riskFactors.temperature != null}" th:text="${riskFactors.temperature.value  + '°C'}"></span></strong>
            &nbsp;<span th:if="${riskFactors.temperature != null}" >Fecha de medición: </span>
            <strong><span  th:if="${riskFactors.temperature != null}" th:text="${#temporals.format(riskFactors.temperature.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>

            - Saturación de oxígeno:
            <strong><span  th:if="${riskFactors.bloodOxygenSaturation  == null}">Sin cambios registrados</span></strong>
            <strong><span  th:if="${riskFactors.bloodOxygenSaturation != null}" th:text="${riskFactors.bloodOxygenSaturation.value+ '%' + 'Hs'}"></span></strong>
            &nbsp;<span th:if="${riskFactors.bloodOxygenSaturation != null}" >Fecha de medición: </span>
            <strong><span  th:if="${riskFactors.bloodOxygenSaturation != null}" th:text="${#temporals.format(riskFactors.bloodOxygenSaturation.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>

            - Glucemia:
            <strong><span  th:if="${riskFactors.bloodGlucose  == null}">Sin cambios registrados</span></strong>
            <strong><span  th:if="${riskFactors.bloodGlucose != null}" th:text="${riskFactors.bloodGlucose.value + 'Mg/dl'}"></span></strong>
            &nbsp;<span th:if="${riskFactors.bloodGlucose != null}" >Fecha de medición: </span>
            <strong><span  th:if="${riskFactors.bloodGlucose != null}" th:text="${#temporals.format(riskFactors.bloodGlucose.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>

            - Hemoglobina glicosilada:
            <strong><span  th:if="${riskFactors.glycosylatedHemoglobin  == null}">Sin cambios registrados</span></strong>
            <strong><span  th:if="${riskFactors.glycosylatedHemoglobin != null}" th:text="${riskFactors.glycosylatedHemoglobin.value+ '%'}"></span></strong>
            &nbsp;<span th:if="${riskFactors.glycosylatedHemoglobin != null}" >Fecha de medición: </span>
            <strong><span  th:if="${riskFactors.glycosylatedHemoglobin != null}" th:text="${#temporals.format(riskFactors.glycosylatedHemoglobin.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>

            - Riesgo cardiovascular:
            <strong><span  th:if="${riskFactors.cardiovascularRisk  == null}">Sin cambios registrados</span></strong>
            <strong><span  th:if="${riskFactors.cardiovascularRisk != null}" th:text="${riskFactors.cardiovascularRisk.value+ '%'}"></span></strong>
            &nbsp;<span th:if="${riskFactors.cardiovascularRisk != null}" >Fecha de medición: </span>
            <strong><span  th:if="${riskFactors.cardiovascularRisk != null}" th:text="${#temporals.format(riskFactors.cardiovascularRisk.effectiveTime, 'dd-MM-yyyy HH:mm') + ' hs'}"></span></strong><br/>
        </div>
    </div>

    <!-- Observaciones -->

    <div th:fragment="notes-base">
        <h3>Observaciones</h3>
        <div th:if="${notes == null}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${notes != null}">
            <div class="col-12" th:if="${notes.currentIllnessNote}">
                <strong class="center-padding">Enfermedad actual</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.currentIllnessNote}"></p>
            </div>
            <div class="col-12 " th:if="${notes.physicalExamNote}">
                <strong class="center-padding">Examen físico</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.physicalExamNote}"></p>
            </div>
            <div class="col-12" th:if="${notes.studiesSummaryNote}">
                <strong class="center-padding">Resumen de estudios y procedimientos realizados</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.studiesSummaryNote}"></p>
            </div>
            <div class="col-12" th:if="${notes.evolutionNote}">
                <strong class="center-padding">Evolución</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.evolutionNote}"></p>
            </div>
            <div class="col-12" th:if="${notes.clinicalImpressionNote}">
                <strong class="center-padding">Impresión clinica y plan</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.clinicalImpressionNote}"></p>
            </div>
            <div class="col-12" th:if="${notes.otherNote}">
                <strong class="center-padding">Otras observaciones</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.otherNote}"></p>
            </div>
        </div>
    </div>

    <div th:fragment="notes-epicrisis">
        <h3>Observaciones</h3>
        <div th:if="${notes == null}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${notes != null}">
            <div class="col-12" th:if="${notes.evolutionNote}">
                <strong class="center-padding">Evolución</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.evolutionNote}"></p>
            </div>
            <div class="col-12" th:if="${notes.studiesSummaryNote}">
                <strong class="center-padding">Resumen de estudios y procedimientos realizados</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.studiesSummaryNote}"></p>
            </div>
            <div class="col-12 " th:if="${notes.physicalExamNote}">
                <strong class="center-padding">Examen físico</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.physicalExamNote}"></p>
            </div>
            <div class="col-12" th:if="${notes.indicationsNote}">
                <strong class="center-padding">Indicaciones de alta</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.indicationsNote}"></p>
            </div>
            <div class="col-12" th:if="${notes.otherNote}">
                <strong class="center-padding">Otras observaciones</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.otherNote}"></p>
            </div>
        </div>
    </div>

    <div th:fragment="notes-outpatient">
        <h3>Observaciones</h3>
        <div th:if="${notes == null}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${notes != null}">
            <div class="col-12" th:if="${notes.otherNote}">
                <strong class="center-padding">Evolución</strong>
                <p class="center-padding wide_wrapped_text" th:text="${notes.otherNote}"></p>
            </div>
        </div>
    </div>

    <!-- Nota de evolución  -->
    <div th:fragment="evolutionNote">
        <h3>Nota de evolución</h3>
        <div th:if="${notes == null}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${notes != null}">
            <div class="col-12" th:if="${notes.evolutionNote}">
                <p class="center-padding wide_wrapped_text" th:text="${notes.evolutionNote}"></p>
            </div>
        </div>
    </div>

    <div th:fragment="counterReference">
        <h3>Contrarreferencia</h3>
        <div th:if="${notes == null}">
            <dl>
                <dd><p>Sin cambios registrados</p></dd>
            </dl>
        </div>
        <div th:if="${notes != null}">
            <div class="col-12" th:if="${notes.evolutionNote}">
                <label class="wide_wrapped_text" th:text="${notes.evolutionNote}"></label>
            </div>
        </div>
    </div>

</body>
<footer class="footer-dark" th:fragment="footer" th:if="${author != null}">
    <div th:if="${nameSelfDeterminationFF}">
        <div th:replace="fragments/author.html :: author(firstName=${author.nameSelfDetermination}, lastName=${author.lastName},licenseNumber=${author.completeLicenseInfo})">
        </div>
    </div>
    <div th:if="${!nameSelfDeterminationFF}">
        <div th:replace="fragments/author.html :: author(firstName=${author.firstName}, lastName=${author.lastName},licenseNumber=${author.completeLicenseInfo})">
        </div>
    </div>
    <div class="col-12">
        <strong>Fecha consulta: </strong><label  th:text="${#temporals.format(performedDate, 'dd/MM/yyyy HH:mm') + ' hs'}"></label>
    </div>
</footer>
</html>