<div mat-dialog-title fxLayout="row" fxLayoutAlign="space-between">
    <div class="mat-h2 margin-bottom-0" [translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.TITLE'"></div>
    <button mat-icon-button (click)="dialogRef.close();">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content>
    <ng-container *ngIf="!loading else showSpinner">
        <div fxLayout="row">
            <div class="mat-body margin-bottom-0"
                [translate]="'ambulatoria.paciente.vacunas.agregar_vacunas.SPECIALTY'">
            </div>
        </div>
        <form [formGroup]="form" (submit)="save()">
            <div fxLayout="row" class="mat-h4">
                <mat-form-field appearance="outline" fxFlex="50">
                    <mat-select formControlName="clinicalSpecialty" required>
                        <mat-option *ngFor="let clinicalSpecialty of this.specialties" [value]="clinicalSpecialty.id">
                            <span>{{clinicalSpecialty.name}}</span>
                        </mat-option>
                    </mat-select>
                    <mat-error [translate]="'forms.REQUIRED'"></mat-error>
                </mat-form-field>
            </div>

            <mat-divider></mat-divider>

            <div class="aplied-vaccines">

                <div *ngFor="let vaccine of this.appliedVaccines; index as i">

                    <div fxLayout="row" fxLayoutAlign="space-between center">
                        <div class="mat-h5 margin-bottom-0 color-primary">
                            <ng-container *ngIf="vaccine.billable else previousVaccineApplication">
                                {{ 'ambulatoria.paciente.vacunas.agregar_vacunas.NEW_VACCINE_TITLE' |
                                translate | uppercase }}
                            </ng-container>
                        </div>
                        <ng-template #previousVaccineApplication>
                            {{ 'ambulatoria.paciente.vacunas.agregar_vacunas.PREVIOUS_VACCINE_TITLE' |
                            translate | uppercase }}
                        </ng-template>

                        <div>
                            <button type="button" mat-icon-button (click)="edit(i)" onclick="this.blur()">
                                <mat-icon color="primary">mode_edit_outline</mat-icon>
                            </button>
                            <button type="button" mat-icon-button (click)="remove(i);">
                                <mat-icon color="warn">delete_outline</mat-icon>
                            </button>
                        </div>
                    </div>

                    <div fxLayout="row" class="mat-body">
                        <span class="capitalize-first-letter">{{ vaccine.snomed.pt }}</span>
                    </div>

                    <div class="mat-h5 margin-top" fxLayout="row" fxLayoutAlign="space-between center">
                        <div>
                            <div class="dose" *ngIf="vaccine.dose">
                                <span>{{ vaccine.dose?.description | uppercase }}</span>
                            </div>
                        </div>
                        <div class="date"> {{ this.displayDate(vaccine.administrationDate) }}</div>
                    </div>

                    <mat-divider></mat-divider>

                </div>

            </div>

            <div fxLayout="row" class="separation">
                <button mat-button type="button" (click)="addVaccine()" color="primary" id="add-button"
                    onclick="this.blur()">
                    + {{ 'ambulatoria.paciente.vacunas.agregar_vacunas.ADD' | translate }}
                </button>
            </div>

            <div fxLayout="row" fxLayoutAlign="end">
                <button type="submit" mat-flat-button color="primary" [disabled]="this.appliedVaccines.length == 0">
                    {{ 'buttons.CONFIRM' | translate | uppercase }}
                </button>
            </div>
        </form>
    </ng-container>

    <ng-template #showSpinner>
        <div fxLayout="row" fxLayoutAlign="center center" class="spinner">
            <mat-spinner diameter="100" color="primary"></mat-spinner>
        </div>
    </ng-template>

</div>