mat-card.mat-card {
	width: 144px;
	height: 120px;
	text-align: center;
	padding: 8px;
}

.value {
	font-weight: bold;
	font-size: 28px;
}

#previous-value {
	font-size: 18px;
	line-height: 18px;
	font-weight: 500;
}

#previous-icon {
	font-size: 16px;
	width: 16px;
	height: 16px;
}