<div fxLayout="row" fxLayoutAlign="end">
	<button matSuffix mat-icon-button [mat-dialog-close]>
		<mat-icon>close</mat-icon>
	</button>
</div>

<div mat-dialog-title fxLayout="row">
	<div class="title"	 class="capitalize-first-letter">{{data.vaccineTitleName}}</div>
</div>

<div mat-dialog-content fxLayoutAlign="start" fxLayout="column">

	<mat-list class="mat-list">
		<div class="mat-list-item">
			<span fxFlex="33%" [translate]="'ambulatoria.paciente.vacunas.details.DOSE'"></span>
			<span fxFlex="33%" [translate]="'ambulatoria.paciente.vacunas.details.DATE'"></span>
			<span fxFlex="33%" [translate]="'ambulatoria.paciente.vacunas.details.LOT_NUMBER'"></span>
		</div>
		<div  class="mat-values">
			<div fxFlex="33%">
				<ng-container *ngIf="data.appliedDoses else noInfo">
					<strong class="appliedDoses">{{data.appliedDoses | uppercase}}</strong>
				</ng-container>
			</div>
			<div fxFlex="33%">
				<ng-container *ngIf="data.applicationDate else noInfo"><span >{{data.applicationDate | viewDate }}</span>
				</ng-container>
			</div>
			<div fxFlex="33%" class="capitalize-first-letter">
				<ng-container *ngIf="data.lotNumber else noInfo">{{data.lotNumber}}</ng-container>
			</div>
		</div>
	</mat-list>

	<mat-divider></mat-divider>

	<div class="inst-prof-container" fxLayout="column">
		<span class="sub-title" [translate]="'ambulatoria.paciente.vacunas.details.INSTITUTION'"></span>
		<ng-container *ngIf="data.institutionName else noInfo">{{data.institutionName}}</ng-container>
		<span class="sub-title" [translate]="'ambulatoria.paciente.vacunas.details.PROFESSIONAL'"></span>
		<ng-container *ngIf="data.ProfessionalCompleteName else noInfo" class="inst-prof-values"><div>{{data.ProfessionalCompleteName}}</div></ng-container>
	</div>

	<mat-divider></mat-divider>

	<mat-list class="mat-list">
		<div class="mat-list-item">
			<span fxFlex="50%"  [translate]="'ambulatoria.paciente.vacunas.details.CONDITION_MOTIVE'"></span>
			<span fxFlex="50%"  [translate]="'ambulatoria.paciente.vacunas.details.SCHEME'"></span>
		</div>
		<div class="mat-values">
			<div fxFlex="50%" class="capitalize-first-letter">
				<ng-container *ngIf="data.vaccineConditinDescription else noInfo">{{data.vaccineConditinDescription}}</ng-container>
			</div>
			<div fxFlex="50%" class="capitalize-first-letter">
				<ng-container *ngIf="data.vaccinationSchemeDescription else noInfo">{{data.vaccinationSchemeDescription}}</ng-container>
			</div>
		</div>
	</mat-list>

	<div class="observations">
		<div fxFlex="100%" class="capitalize-first-letter">
			<ng-container *ngIf="data.vaccineObservations else noObs">{{data.vaccineObservations}}</ng-container>
		</div>
	</div>
</div>

<ng-template #noInfo>
	<span class="no-info" [translate]="'ambulatoria.paciente.vacunas.details.NO-INFO'"></span>
</ng-template>
<ng-template #noObs>
	<span class="no-info" [translate]="'ambulatoria.paciente.vacunas.details.NO-OBS'"></span>
</ng-template>
