<app-content width="narrow">
	<form [formGroup]="form" (ngSubmit)="submit()" *ngIf="!apiResponse">
		<mat-card fxLayout="column" fxLayoutAlign=" center">
			<mat-card-header fxLayoutAlign="center">
				<mat-card-title>
					<span translate="auth.password-reset.form.TITLE"></span>
				</mat-card-title>
			</mat-card-header>
			<mat-card-content fxLayoutGap="12px">
				<app-form-input>
					<mat-form-field [floatLabel]="'never'" appearance="outline">
						<input formControlName="password"
							   [type]="hidePassword ? 'password' : 'text'"
							   placeholder="{{'auth.password-reset.form.PASSWORD_PLACEHOLDER' | translate }}"
							   matInput>
						<mat-icon matSuffix color="primary" (click)="hidePassword = !hidePassword">{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
					</mat-form-field>
				</app-form-input>
				<div class="validation" fxLayout="column" fxLayoutAlign="start start" fxLayoutGap="10px">
					<div  fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="5px">
						<span fxLayoutAlign="center" [ngClass]="{ 'text-error': this.form.controls['password'].hasError('minlength') || this.form.controls['password'].hasError('required'),
						'text-valid': !this.form.controls['password'].hasError('minlength') && !this.form.controls['password'].hasError('required')}">
							<mat-icon class="material-icons-outlined">check_circle</mat-icon>
							<span translate="auth.access-data-reset.form.ERROR_MINLENGTH"></span>
						</span>
						<span fxLayoutAlign="center" [ngClass]="{ 'text-error': this.form.controls['password'].hasError('mayus') || this.form.controls['password'].hasError('required'),
						'text-valid': !this.form.controls['password'].hasError('mayus') && !this.form.controls['password'].hasError('required')}">
							<mat-icon class="material-icons-outlined">check_circle</mat-icon>
							<span translate="auth.access-data-reset.form.ERROR_UPPERCASE"></span>
						</span>
						<span fxLayoutAlign="center" [ngClass]="{ 'text-error': this.form.controls['password'].hasError('min') || this.form.controls['password'].hasError('required'),
						'text-valid': !this.form.controls['password'].hasError('min') && !this.form.controls['password'].hasError('required')}">
							<mat-icon class="material-icons-outlined">check_circle</mat-icon>
							<span translate="auth.access-data-reset.form.ERROR_LOWERCASE"></span>
						</span>
						<span [ngClass]="{ 'text-error': this.form.controls['password'].hasError('number') || this.form.controls['password'].hasError('required'),
						'text-valid': !this.form.controls['password'].hasError('number') && !this.form.controls['password'].hasError('required')}">
						<mat-icon class="material-icons-outlined">check_circle</mat-icon>
						<span translate="auth.access-data-reset.form.ERROR_NUMBER"></span>
					</span>
					</div>
				</div>
			</mat-card-content>
			<mat-card-actions>
				<button mat-flat-button color="primary" type="submit" translate="auth.login.form.SUBMIT"></button>
			</mat-card-actions>
		</mat-card>
	</form>
	<mat-card *ngIf="apiResponse">
		<mat-card-header fxLayoutAlign="center center">
			<mat-card-title>
				<span translate="auth.password-reset.result.TITLE"></span>
			</mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-progress-bar mode="indeterminate" *ngIf="apiResponse.loading"></mat-progress-bar>
			<div class="container" *ngIf="apiResponse.data">
				<h3 class="mat-h3" translate="auth.password-reset.result.OK"></h3>
				<h2 class="mat-h2"><code>{{apiResponse.data.username}}</code></h2>
			</div>
			<div class="container" *ngIf="apiResponse.error">
				<h3 class="mat-h3" translate="auth.password-reset.result.ERROR"></h3>
				<h3 class="mat-h2">{{apiResponse.error.text}}</h3>
			</div>
		</mat-card-content>
	</mat-card>
</app-content>
