<app-content width="narrow">
	<mat-card *ngIf="webappInstitutionsAccess">
		<mat-card-header>
			<mat-card-title translate="app.menu.INSTITUCIONES"></mat-card-title>
		</mat-card-header>
		<mat-card-content>
			<mat-action-list role="list" *ngIf="institutions !== null; else loading">
				<div mat-subheader [ngSwitch]="institutions.length">
					<span *ngSwitchCase="0">No tiene acceso a instituciones</span>
					<span *ngSwitchCase="1">Tiene acceso a la siguiente institución:</span>
					<span *ngSwitchDefault>Tiene acceso a las siguientes instituciones:</span>
				</div>
				<mat-list-item *ngFor="let institution of institutions" role="listitem" (click)="ingresar(institution,false)">
					<mat-icon color="primary" mat-list-icon fontSet="material-icons-outlined">verified_user</mat-icon>
					<h3 matLine >{{institution.name}}</h3>
				</mat-list-item>
			</mat-action-list>
		</mat-card-content>
		<ng-template #loading>
			<mat-progress-bar mode="indeterminate"></mat-progress-bar>
		</ng-template>
	</mat-card>
	<div class="space"></div>
	<mat-card *ngIf="backofficeAccess">
		<mat-card-header>
			<mat-card-title>Acceso de administrador</mat-card-title>
		</mat-card-header>
		<mat-action-list role="list">
			<mat-list-item role="listitem" (click)="ingresar({id: -1},true)">
				<mat-icon color="primary" mat-list-icon fontSet="material-icons-outlined">verified_user</mat-icon>
				<h3 matLine >Backoffice</h3>
			</mat-list-item>
		</mat-action-list>
	</mat-card>
	<div class="space"></div>
	<ng-container *ngIf="patientPortalEnabled">
		<mat-card *ngIf="patientPortalAccess">
			<mat-card-header>
				<mat-card-title>Acceso como paciente</mat-card-title>
			</mat-card-header>
			<mat-action-list role="list">
				<mat-list-item role="listitem" (click)="ingresarPortalPaciente()">
					<div mat-subheader>
						<span>Ingrese aquí para ver su historia clínica</span>
					</div>
				</mat-list-item>
			</mat-action-list>
		</mat-card>
		<div class="space"></div>
		<div class="previous-login" *ngIf="enabledPreviousLogin">
			<span>{{'home.instituciones.PREVIOUS_LOGIN' | translate}}: </span>{{previousLogin | date: 'short'}}
		</div>
	</ng-container>
</app-content>
