#program-report-type > * {
    padding-top: 5px;
}

#report-type-radio-group > * {
    padding-top: 5px;
    padding-bottom: 10px;
}

.required-field {
    color: #9c9fa3;
    font-size: 11px;
    padding-left: 10px;
}