<app-content width="full">
	<app-indication [header]="PHARMACO" [contents]="indicationContent" [noInformation]="'indicacion.internment-card.sections.no-data.PHARMACO'"></app-indication>
</app-content>
