@import "../../../../../assets/styles/mixins.scss";

.appointment-body {
	margin: 0 15px;

	.icon-grey {
		color: #A8A8A8;
		font-size: 20px;
	}

	.icon-close {
		height: 10px;
		mat-icon {
			font-size: 24px;
			color: rgba(0, 0, 0, 0.54);
		}
	}

	.title-size {
		font-size: 18px;
	}

	.subtitle-size {
		font-size: 16px;
	}

	.strong-size {
		font-size: 14px;
	}

	.normal-size {
		font-size: 12px;
	}
}

.ventana {
	@media (min-height: 680px) {
		min-height: 570px;
	}
}

.header-content {
	@media screen and (min-width: 959px) {
		width: 100%;
	}

	button {
		padding: 0;
		height: fit-content;
	}

	.mat-card-patient-image {
		width: 60px;
		height: 60px;
		border-radius: 50%;
	}
}

.appointment-information {
	height: auto;
}

.appointment-details {
	margin: 10px 0;

	.appointment-title {
		margin-bottom: 10px;
	}
}

.assigned-appointment {
	padding: 20px;
	color: #545454;
	line-height: 14px;
}

.patient-info {
	line-height: 17px;
	max-height: 24px;
}

mat-icon {
	font-size: 20px;
}

a {
	text-decoration: none;
	color: #2687C5;
}

.appointment-actions {

	margin-top: 10px;

	button {
		border: 1px solid #979797;
		height: 48px;
		width: 48px;
	}

	.mat-icon.mat-primary {
		color: #979797;
	}

	mat-icon {
		font-size: 25px;
	}

	.selected {
		.mat-icon.mat-primary {
			color: white;
		}
	}

	.confirmed {
		background-color: #FFA500;
	}

	.absent {
		background-color: #7D807D;
	}

	.served {
		background-color: #2DC64F;
	}

}

.motivo {
	margin-top: 10px;
}

mat-form-field {
	width: 100%;
}

section {
	margin: 0;
	margin-top: 10px;
}


.hide-borders {
	border-top-style: hidden;
	border-left-style: hidden;
	border-right-style: hidden;
	outline: none;
	margin-left: 3px;
}

.phone-text {
	margin-left: 3px;
}

.mat-icon-button ::ng-deep .mat-button-focus-overlay {
    display: none;
}

.coverage-text {
	display: inline-block;
    max-width: 285px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.dateForm{
	.date{
		width: 276px;
	}

	.hour{
		width: 90px;
		height: 50px;
	}

	.hs{
		height: fit-content;
		margin-top: 20px;
		margin-left: 5px;
	}
	.confirm-buttons{
		margin-top: 15px;
	}
}

.observation-section {
	width: 550px;
	margin: 15px 0;

	a {
		cursor: pointer;
	}

	p {
		margin: auto;
		margin-left: 3px;
		white-space: pre-line;
    	overflow-wrap: break-word;
	}
}

.confirm-buttons {
	margin-bottom: 15px;
}

.none {
	display: none;
}
