<ng-template #text let-text="text" appCtrlTemplate="textTemplate">
	{{text}}
</ng-template>

<ng-template #errorTemplate let-text="text" appCtrlTemplate="errorTemplate">
	<mat-error> {{text}} </mat-error>
</ng-template>

<ng-template #removeButtonTemplate let-action="action" let-rowIndex="rowIndex" appCtrlTemplate="removeButtonTemplate">
	<div align="end">
		<button type="button" mat-icon-button color="warn" (click)="action(rowIndex)">
			<mat-icon>delete_outline</mat-icon>
		</button>
	</div>
</ng-template>

<ng-template #snomedProblemTemplate let-rowData="data" appCtrlTemplate="snomedProblemTemplate">
	{{rowData.snomed.pt}}
	<div *ngIf="rowData.cronico" class="mat-small grayText"
		translate="ambulatoria.paciente.nueva-consulta.problemas.ACLARACION_CRONICO"></div>
	<div *ngIf="rowData.isReportable">
		<ng-container *ngIf="rowData.epidemiologicalManualClassifications?.length">
			<div *ngFor="let classification of rowData.epidemiologicalManualClassifications; let i=index">
				<span class="color-primary">
					{{ rowData.epidemiologicalManualClassifications[i] }}
				</span>
			</div>
		</ng-container>
		<span class="color-warn" *ngIf="!rowData.epidemiologicalManualClassifications"
			translate="ambulatoria.paciente.nueva-consulta.problemas.DO_NOT_REPORT_PROBLEM"></span>
	</div>
</ng-template>

<ng-template #problemSeverityTemplate let-rowData="data" let-text="text" appCtrlTemplate="problemSeverityTemplate">
	<ng-container *ngIf="rowData.codigoSeveridad === 'LA6752-5'">
		<mat-label class="grayText">
			{{text}}
		</mat-label>
	</ng-container>
	<ng-container *ngIf="rowData.codigoSeveridad === 'LA6751-7'">
		<mat-label>
			{{text}}
		</mat-label>
	</ng-container>
	<ng-container *ngIf="rowData.codigoSeveridad === 'LA6750-9'">
		<mat-error>
			{{text}}
		</mat-error>
	</ng-container>
</ng-template>

<ng-template #allergyCriticalityTemplate let-rowData="data" let-text="text"
	appCtrlTemplate="allergyCriticalityTemplate">
	<ng-container *ngIf="rowData.criticalityId === 1">
		<mat-label class="grayText">
			{{text}}
		</mat-label>
	</ng-container>
	<ng-container *ngIf="rowData.criticalityId === 2">
		<mat-error>
			{{text}}
		</mat-error>
	</ng-container>
	<ng-container *ngIf="rowData.criticalityId === 3">
		<mat-label>
			{{text}}
		</mat-label>
	</ng-container>
</ng-template>

<ng-template #startAndEndDateTemplate let-rowData="data" appCtrlTemplate="startAndEndDateTemplate">
	<div class="mat-small grayText">
		<span *ngIf="rowData.fechaInicio"
			translate="ambulatoria.paciente.nueva-consulta.problemas.FECHA_INICIO_PREFIJO"></span>
		{{formatDate(rowData.fechaInicio)}}
	</div>
	<div class="mat-small grayText" *ngIf="rowData.fechaFin">
		<span translate="ambulatoria.paciente.nueva-consulta.problemas.FECHA_FIN_PREFIJO"></span>
		{{formatDate(rowData.fechaFin)}}
	</div>
</ng-template>

<ng-template #referenceTemplate let-rowData="data" appCtrlTemplate="referenceTemplate">
	<div class="reference">
		<div fxLayout="column">
			<span class="bold-text"
				translate="ambulatoria.paciente.nueva-consulta.solicitud-referencia.table.row.PROBLEMS"></span>
			<span *ngFor="let problem of rowData.problems">
				{{problem?.snomed.pt}}
			</span>
		</div>
		<div fxLayout="column">
			<span class="bold-text"
				translate="ambulatoria.paciente.nueva-consulta.solicitud-referencia.table.row.CARE_LINE"></span>
			{{rowData.careLine?.description}}
		</div>
		<div fxLayout="column">
			<span class="bold-text"
				translate="ambulatoria.paciente.nueva-consulta.solicitud-referencia.table.row.SPECIALTY"></span>
			{{rowData.clinicalSpecialty?.name}}
		</div>
		<span class="mat-small grayText">{{rowData.note}}</span>
	</div>
</ng-template>

<ng-template #editButtonTemplate let-action="action" let-rowIndex="rowIndex" appCtrlTemplate="editButtonTemplate">
	<div align="end">
		<button type="button" mat-icon-button color="primary" (click)="action(rowIndex)">
			<mat-icon>edit</mat-icon>
		</button>
	</div>
</ng-template>