<app-summary-card [header]="documentsSummary">
	<ng-container *ngIf="this.documentHistoric?.documents.length !== 0 || searchTriggered; else noData">
		<div class="search-form" id="header">
			<form fxLayout="row" fxLayoutGap="10px" id="document-search-form" [formGroup]="form" (ngSubmit)="search()">
				<div style="padding-left: 16px;">
					<mat-form-field appearance="outline">
						<mat-label>Campo</mat-label>
						<mat-select formControlName="field" name="field">
							<mat-option *ngFor="let field of searchFields" [value]="field.field">
								{{field.label | translate}}
							</mat-option>
						</mat-select>
						<button id="clear-filter-field" type="button" mat-button *ngIf="form.value.field" matSuffix
								color="warn"
								mat-icon-button
								(click)="setFilterValueAndSearchIfEmptyForm(form.controls.field, null); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
						<mat-error *ngIf="hasError(form, 'filterFieldIsRequiredWhenInputIsSet', 'field')"
								   [translate]="'historia-clinica.summary-card.evolution-notes-filter.filterFieldIsRequiredWhenInputIsSet'">
						</mat-error>
					</mat-form-field>
				</div>
				<div style="width: 35%">
					<mat-form-field class="input" appearance="outline"
									*ngIf="form.value.field === 'CREATED_ON'; else textInput">
						<mat-label>Fecha</mat-label>
						<input matInput
							   id="date"
							   formControlName="date"
							   [matDatepicker]="myDatepicker"
							   [max]="this.today"
						>
						<mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
						<mat-datepicker #myDatepicker></mat-datepicker>
						<mat-error
							[translate]="'historia-clinica.summary-card.evolution-notes-filter.generalDateError'">
						</mat-error>
					</mat-form-field>
					<ng-template #textInput>
						<mat-form-field class="input" appearance="outline">
							<mat-label>Filtro</mat-label>
							<input matInput
								   id="filter"
								   name="text"
								   formControlName="text"
								   type="text">
							<button id="clear-filter-text" type="button" mat-button *ngIf="form.value.text" matSuffix
									color="warn"
									mat-icon-button
									(click)="setFilterValueAndSearchIfEmptyForm(form.controls.text, ''); $event.stopPropagation()">
								<mat-icon>close</mat-icon>
							</button>
						</mat-form-field>
					</ng-template>
				</div>
				<div class="main-diagnosis-toggle">
					<mat-label>Diagnóstico principal
						<mat-slide-toggle formControlName="mainDiagnosisOnly" (change)="updateDocuments()">
						</mat-slide-toggle>
					</mat-label>
				</div>
				<div class="without-diagnosis-toggle">
					<mat-label>Sin diagnóstico definido
						<mat-slide-toggle formControlName="documentsWithoutDiagnosis" (change)="showDocumentsWithoutDiagnosis()">
						</mat-slide-toggle>
					</mat-label>
				</div>
			</form>
		</div>
		<div class="documents" id="documents" fxLayout="row">
			<mat-selection-list color="accent" [multiple]=false id="selection-documents" class="selection-documents">
				<mat-list-option (click)="setActive(documentSearch)" *ngFor="let documentSearch of documentsToShow">
					<div fxLayout="row" fxLayoutGap="5px">
						<ng-container>
							<mat-icon *ngIf="documentSearch.document.documentType != 'Epicrisis' && documentSearch.document.documentType != 'Anamnesis'"mat-list-icon fontSet="material-icons-outlined" color="primary">assignment</mat-icon>
							<mat-icon *ngIf="documentSearch.document.documentType == 'Anamnesis'" mat-list-icon fontSet="material-icons-outlined" color="primary" svgIcon="assignment_return"></mat-icon>
							<mat-icon *ngIf="documentSearch.document.documentType == 'Epicrisis' && documentSearch.document.confirmed" mat-list-icon fontSet="material-icons-outlined" color="primary">assignment_turned_in</mat-icon>
							<mat-icon *ngIf="documentSearch.document.documentType == 'Epicrisis' && !documentSearch.document.confirmed" mat-list-icon fontSet="material-icons-outlined" class="empicrisis-draft">assignment_turned_in</mat-icon>
						</ng-container>
						<div fxLayout="column" fxLayoutGap="20px">
							<span id="document-type" class="color-primary uppercase">
								<ng-container *ngIf="documentSearch.document.documentType === 'Anamnesis'">
									Evaluación de ingreso
								</ng-container>
								<ng-container *ngIf="documentSearch.document.documentType === 'Epicrisis' && !documentSearch.document.confirmed">
									<span class="empicrisis-draft">{{documentSearch.document.documentType}} (Borrador) </span>
								</ng-container>
								<ng-container *ngIf="documentSearch.document.documentType !== 'Anamnesis' && documentSearch.document.confirmed">
									{{documentSearch.document.documentType}}
								</ng-container>
							</span>
							<div fxLayout="column" fxLayoutGap="5px">
								<span id="main-diagnosis" class="capitalize-first-letter bold-text">
									<ng-container *ngIf="documentSearch.document.mainDiagnosis">
										<span>{{documentSearch.document.mainDiagnosis}} (Principal)</span>
									</ng-container>
									<ng-container *ngIf="!documentSearch.document.mainDiagnosis && !documentSearch.document.diagnosis.length">
										<span [translate]="'internaciones.documents-summary.info.WITHOUT_DIAGNOSIS'"></span>
									</ng-container>
								</span>
								<span id="other-diagnosis" *ngFor="let diagnosis of documentSearch.document.diagnosis" class="capitalize-first-letter bold-text">
									{{diagnosis}}
								</span>
							</div>
							<div fxLayout="column" fxLayoutGap="10px">
								<span mat-line>{{getFullName(documentSearch.document.creator.firstName, documentSearch.document.creator.nameSelfDetermination)}} {{documentSearch.document.creator.lastName}}</span>
								<span mat-line>{{documentSearch.createdOn}}</span>
							</div>
							<mat-divider></mat-divider>
						</div>
					</div>
				</mat-list-option>
			</mat-selection-list>
			<div *ngIf="viewEvolutionNote()" class="content" fxLayout="row" fxLayoutAlign="space-between">
				<div>
					<ng-container>
						<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center" *ngIf="activeDocument.document.notes">
							<mat-icon mat-list-icon fontSet="material-icons-outlined">assignment</mat-icon>
							<div class="mat-body-strong" [translate]="'internaciones.documents-summary.CLINICAL_EVALUATION'"></div>
						</div>
						<div>
							<section *ngIf="activeDocument.document.notes?.currentIllnessNote">
								<div class="mat-body" [translate]="'internaciones.anamnesis.observations.CURRENT_DISEASE'"></div>
								<div class="mat-body-strong">{{activeDocument.document.notes.currentIllnessNote}}</div>
							</section>

							<section *ngIf="activeDocument.document.notes?.physicalExamNote">
								<div class="mat-body"
									 [translate]="'internaciones.anamnesis.observations.PHYSICAL_EXAMINATION'"></div>
								<div class="mat-body-strong">{{activeDocument.document.notes.physicalExamNote}}</div>
							</section>

							<section *ngIf="activeDocument.document.notes?.studiesSummaryNote">
								<div class="mat-body" [translate]="'internaciones.anamnesis.observations.STUDIES_PROCEDURES'"></div>
								<div class="mat-body-strong">{{activeDocument.document.notes.studiesSummaryNote}}</div>
							</section>

							<section *ngIf="activeDocument.document.notes?.evolutionNote">
								<div class="mat-body" [translate]="'internaciones.anamnesis.observations.PATIENT_PROGRESS'"></div>
								<div class="mat-body-strong">{{activeDocument.document.notes.evolutionNote}}</div>
							</section>

							<section *ngIf="activeDocument.document.notes?.clinicalImpressionNote">
								<div class="mat-body"
									 [translate]="'internaciones.anamnesis.observations.CLINICAL_IMPRESSION'"></div>
								<div class="mat-body-strong">{{activeDocument.document.notes.clinicalImpressionNote}}</div>
							</section>

							<section *ngIf="activeDocument.document.notes?.indicationsNote">
								<div class="mat-body" [translate]="'internaciones.epicrisis.observations.INDICATIONS_NOTE'"></div>
								<div class="mat-body-strong">{{activeDocument.document.notes.indicationsNote}}</div>
							</section>

							<section *ngIf="activeDocument.document.notes?.otherNote">
								<div class="mat-body" [translate]="'internaciones.anamnesis.observations.OTHERS'"></div>
								<div class="mat-body-strong">{{activeDocument.document.notes.otherNote}}</div>
							</section>
							<button *ngIf="!activeDocument.document.confirmed" id="edit-draft-button" type="button"  class="edit-draft-button" mat-flat-button color="primary" (click)="editDraftEpicrisis(activeDocument.document)">
								<span [translate]="'internaciones.epicrisis.buttons.EDIT_DRAFT'">
								</span>
							</button>
						</div>
					</ng-container>

					<section *ngIf="activeDocument.document.procedures.length > 0">
						<div fxLayout="row" fxLayoutGap="10px" fxLayoutAlign="start center">
							<mat-icon mat-list-icon fontSet="material-icons-outlined">library_add</mat-icon>
							<div class="mat-body-strong" [translate]="'internaciones.anamnesis.procedimientos.PROCEDIMIENTOS'"></div>
						</div>
						<div *ngFor="let procedure of activeDocument.document.procedures" class="subcontent">
							<div *ngIf="procedure.performedDate" class="mat-body-strong">
								{{procedure.procedure}} - {{procedure.performedDate | viewDate }}
							</div>
							<div *ngIf="!procedure.performedDate" class="mat-body-strong">
								{{procedure.procedure}}
							</div>
						</div>
					</section>

					<section *ngIf="activeDocument.editedOn">
						<div fxLayoutGap="5px" fxLayoutAlign="start center" class="grey">
							<span [translate]="'internaciones.documents-summary.EDITED_DOCUMENT'"></span>
							<span>{{ activeDocument.editedOn }}</span>
						</div>
					</section>
				</div>

				<div>
					<button type="button" mat-button color="primary" *ngIf="activeDocument.canDoAction.edit && activeDocument.document.confirmed" (click)="edit(activeDocument.document)">
						<mat-icon>edit</mat-icon>
					</button>
					<button type="button" mat-button color="warn" *ngIf="activeDocument.canDoAction.delete" (click)="delete(activeDocument.document)">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>

			<div *ngIf="(activeDocument && !viewEvolutionNote() )" class="no-notes content mat-body-strong" fxLayout="row" fxLayoutAlign="space-between center">
				<div fxLayout="column" fxLayoutGap="10px">
					<span>{{"internaciones.documents-summary.WITHOUT_OBSERVATIONS" | translate}}</span>
					<section *ngIf="activeDocument.editedOn">
						<div fxLayoutGap="5px" fxLayoutAlign="start center" class="grey">
							<span [translate]="'internaciones.documents-summary.EDITED_DOCUMENT'"></span>
							<span>{{ activeDocument.editedOn }}</span>
						</div>
					</section>
				</div>
				<div>
					<button type="button" mat-button color="primary" *ngIf="activeDocument.canDoAction.edit" (click)="edit(activeDocument.document)">
						<mat-icon>edit</mat-icon>
					</button>
					<button type="button" mat-button color="warn" *ngIf="activeDocument.canDoAction.delete" (click)="delete(activeDocument.document)">
						<mat-icon>delete</mat-icon>
					</button>
				</div>
			</div>
		</div>
		<div
			*ngIf="this.documentHistoric && !this.documentHistoric.documents.length">
			<div class="no-data-styles">
				<span [translate]="'internaciones.documents-summary.NO_FILTERED_PROBLEMS'"></span>
			</div>
		</div>
	</ng-container>

	<ng-template #noData>
		<app-no-data></app-no-data>
	</ng-template>
</app-summary-card>
