<div fxLayout="column" fxLayoutGap="30px" *ngFor=" let nursingSection of nursingSections">
    <div id="title" fxLayoutGap="10px" fxLayoutAlign="start center">
        <span class="title capitalize-first-letter">{{ nursingSection.title | translate }}</span>
        <mat-divider inset></mat-divider>
    </div>

    <div id="content" class="content" *ngFor="let record of nursingSection.records" fxLayout="column" fxLayoutGap="20px">
        <div fxLayout="row" fxLayoutGap="20px" fxLayout.lt-lg="column" fxLayoutAlign="start">
            <mat-icon class="color-primary" fontSet="material-icons-outlined" *ngIf="record.matIcon; else svgIcon">
                {{ record.matIcon }}
            </mat-icon>
            <ng-template #svgIcon>
                <mat-icon class="color-primary svg-icon" svgIcon={{record.svgIcon}}></mat-icon>
            </ng-template>
            <div fxLayout="column" fxFlex="40%" fxLayoutGap="10px">
                <span class="description">{{record.content.description}}</span>
                <div fxLayout="row" fxLayoutGap="20px">
                    <div *ngFor="let extraInfo of record.content.extra_info" class="color-grey extra-info" fxLayout="row" fxLayoutGap="5px">
                        <span class="extra-info-title">{{extraInfo.title | translate}}</span>
                        <span>{{extraInfo.content}}</span>
                    </div>
                </div>
            </div>

            <div fxFlex="10%">
                <strong [class]="record.content.status.cssClass" class="label">{{ record.content.status.description | translate | uppercase }}</strong>
            </div>
            <ng-container *appHasRole="['ENFERMERO']">
                <div *ngIf="record.content.status.type == PENDING && isSameDay(record.content.indicationDate, today)">
                    <button mat-button mat-raised-button color="primary" (click)="openDialogToRegister(record)">
                        {{ 'indicacion.nursing-care.buttons.TO_REGISTER' | translate | uppercase }}
                    </button>
                </div>
            </ng-container>    
          
            <div *ngIf="record.content.status.type == COMPLETED" class="color-grey extra-info" fxLayout="row" fxLayoutGap="20px" fxFlex="35%">
                <span>{{ record.content.administeredBy }}</span>
                <span *ngIf="record.content.administeredTime">{{ datePipe.transform(record.content.administeredTime, datePipeFormat.SHORT_TIME) }}hs</span>
            </div>

            <div *ngIf="record.content.status.type == REJECTED" class="color-grey extra-info description" fxLayout="column" fxLayoutGap="10px" fxFlex="35%">
                <span>{{ record.content.reason }}</span>
                <span>{{ record.content.administeredBy }}</span>
            </div>

            <ng-container *appHasRole="['ENFERMERO']">
                <button mat-icon-button [matMenuTriggerFor]="menu" *ngIf="record.content.status.type != PENDING && isSameDay(record.content.indicationDate, today)">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item (click)="undoActionOfNRecord(record.id)">
                        <span [translate]="'indicacion.nursing-care.buttons.UNDO'"></span>
                    </button>
                </mat-menu>
            </ng-container>
        </div>
    </div>
</div>