@import "projects/hospital/src/assets/styles/mixins";

.title {
	@include general-font;
	font-weight: 500;
	font-size: 16px;
	line-height: 18.75px;
	white-space: nowrap;
}

.label {
	border-radius: 6px;
	padding: 3px 8px;
	font-size: 12px;
	line-height: 19px;
	width: 100px;
	text-align: center;
}

.extra-info {
	font-size: 14px;
	line-height: 22px;
	.extra-info-title {
		font-weight: 500;
	}
}

.color-grey {
	color: #a8a8a8;
}

.content {
	margin-bottom: 30px;
}

.description {
	height: auto;
	word-break: break-word;
}

.red {
	background-color: rgba(255, 163, 163, 0.93);
	color: #EB5757;
}

.grey {
	background-color: #F2F2F2;
	color: #BDBDBD;
}

.green {
	background-color: #a1f3b4;
	color: #27AE60;
}