<app-content width="full">
	<section id="title">
		<h2 class="mat-h2" [translate]="'ambulatoria.paciente.problemas.TITLE'"></h2>
	</section>

	<ng-template #noInfo>
		<app-no-data></app-no-data>
	</ng-template>

	<section id="problemas">

		<div fxLayout="column" fxLayoutGap="20px">
			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
				<div fxFlex="50%">
					<app-summary-card id="active_problems" [header]="activos" [editable]="false">
						<mat-list id="lista-problemas-activos"
							*ngIf="(activeProblems$ | async )?.length > 0 else noInfo">
							<div fxLayout="row">
								<mat-list-item class="problems-table-header">
									<div fxFlex="50%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.TYPE'"></span>
									</div>
									<div fxFlex="25%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.SEVERITY'"></span>
									</div>
									<div fxFlex="25%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.START_DATE'"></span>
									</div>
								</mat-list-item>
							</div>
							<div fxLayout="row" *ngFor="let problem of (activeProblems$ | async)">
								<mat-list-item (click)="filterByProblemOnProblemClick(problem)">
									<div fxFlex="50%">
										<span mat-line class="capitalize-first-letter">
											{{ problem.snomed.pt }}
										</span>
										<div *ngIf="problem.hasPendingReference">
											<ng-container>
												<strong class="reference-subtitle reference-request uppercase"
													[translate]="'ambulatoria.paciente.problemas.PENDING_REFERENCE'"></strong>
											</ng-container>
										</div>
									</div>
									<div fxFlex="25%">
										{{getSeverityTypeDisplayByCode(problem.severity)}}
									</div>

									<div fxFlex="20%">
										{{problem.startDate}}
									</div>

									<div fxFlex="5%">
										<button *appHasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']"
											mat-icon-button [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
										</button>
										<mat-menu #menu="matMenu">
											<button *ngIf="hasNewConsultationEnabled$ | async" mat-menu-item
												(click)="openNuevaConsulta(problem)">
												<span
													[translate]="'ambulatoria.paciente.nueva-consulta.TITLE_MENU'"></span>
											</button>
											<button mat-menu-item (click)="solveProblemPopUp(problem)">
												<span [translate]="'ambulatoria.paciente.problemas.END'"></span>
											</button>
										</mat-menu>
									</div>

								</mat-list-item>
								<mat-divider></mat-divider>
							</div>
						</mat-list>
					</app-summary-card>
				</div>
				<div fxFlex="50%">
					<app-summary-card id="chronic_problems" [header]="cronicos" [editable]="false">
						<mat-list id="lista-problemas-cronicos"
							*ngIf="(chronicProblems$ | async)?.length > 0 else noInfo">
							<div fxLayout="row">
								<mat-list-item class="problems-table-header">
									<div fxFlex="50%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.TYPE'"></span>
									</div>
									<div fxFlex="25%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.SEVERITY'"></span>
									</div>
									<div fxFlex="25%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.START_DATE'"></span>
									</div>
								</mat-list-item>
							</div>
							<div fxLayout="row" *ngFor="let problem of (chronicProblems$ | async)">
								<mat-list-item (click)="filterByProblemOnProblemClick(problem)">
									<div fxFlex="50%">
										<span mat-line class="capitalize-first-letter">
											{{ problem.snomed.pt}}
										</span>
										<div *ngIf="problem.hasPendingReference">
											<ng-container>
												<strong class="reference-subtitle reference-request uppercase"
												[translate]="'ambulatoria.paciente.problemas.PENDING_REFERENCE'"></strong>
											</ng-container>
										</div>
									</div>
									<div fxFlex="25%">
										{{getSeverityTypeDisplayByCode(problem.severity)}}
									</div>

									<div fxFlex="20%">
										{{problem.startDate}}
									</div>

									<div fxFlex="5%">
										<button *appHasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ESPECIALISTA_EN_ODONTOLOGIA']"
											mat-icon-button [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
										</button>
										<mat-menu #menu="matMenu">
											<button *ngIf="hasNewConsultationEnabled$ | async" mat-menu-item
												(click)="openNuevaConsulta(problem)">
												<span
													[translate]="'ambulatoria.paciente.nueva-consulta.TITLE_MENU'"></span>
											</button>
											<button mat-menu-item (click)="solveProblemPopUp(problem)">
												<span [translate]="'ambulatoria.paciente.problemas.END'"></span>
											</button>
										</mat-menu>
									</div>
								</mat-list-item>
								<mat-divider></mat-divider>
							</div>
						</mat-list>
					</app-summary-card>
				</div>
			</div>

			<div fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="20px">
				<div fxFlex="50%">
					<app-summary-card id="solved_problems" [header]="resueltos" [editable]="false">
						<mat-list id="lista-problemas-resueltos"
							*ngIf="(solvedProblems$ | async)?.length > 0 else noInfo">
							<div fxLayout="row">
								<mat-list-item class="problems-table-header">
									<div fxFlex="35%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.TYPE'"></span>
									</div>
									<div fxFlex="23%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.SEVERITY'"></span>
									</div>
									<div fxFlex="21%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.START_DATE'"></span>
									</div>
									<div fxFlex="21%"><span class="problems-table-header-text"
											[translate]="'ambulatoria.paciente.problemas.table-columns.END_DATE'"></span>
									</div>
								</mat-list-item>
							</div>

							<div fxLayout="row" *ngFor="let problem of (solvedProblems$ | async)">
								<mat-list-item (click)="filterByProblemOnProblemClick(problem)">
									<div fxFlex="35%">
										<span mat-line class="capitalize-first-letter">
											{{ problem.snomed.pt }}
										</span>
									</div>
									<div fxFlex="23%">
										{{getSeverityTypeDisplayByCode(problem.severity)}}
									</div>

									<div fxFlex="21%" id="start-date">
										<div class="date" fxShow="false" fxShow.md="true"
											matTooltip="{{ problem.startDate }}">
											{{problem.startDate}}
										</div>
										<div class="date" fxShow.md="false">
											{{problem.startDate}}
										</div>
									</div>

									<div fxFlex="21%">
										<div class="date" fxShow="false" fxShow.md="true"
											matTooltip="{{ problem.inactivationDate }}">
											{{problem.inactivationDate}}
										</div>
										<div class="date" fxShow.md="false">
											{{problem.inactivationDate}}
										</div>
									</div>

								</mat-list-item>
								<mat-divider></mat-divider>
							</div>
						</mat-list>
					</app-summary-card>
				</div>
				<div fxFlex="50%">
					<app-summary-card id="hospitalization_problems" [header]="internacion" [editable]="false">
						<mat-list id="lista-problemas-hospitalization"
							*ngIf="(hospitalizationProblems$ | async)?.length > 0 else noInfo">
							<div fxLayout="row" *ngFor="let problem of (hospitalizationProblems$ | async)">
								<mat-list-item>
									<div fxFlex="100%">
										<span mat-line class="capitalize-first-letter">
											{{ problem.mainDiagnose.snomed.pt }}
										</span>
										<span mat-line>
											{{ problem.entryDate }} - {{ problem.dischargeDate? problem.dischargeDate :
											"actualmente internado" }}
										</span>
									</div>
									<ng-container *ngIf="this.internmentInProcess.inProgress == false || (this.internmentInProcess.inProgress && this.internmentInProcess.id !== problem.sourceId)">
										<button *appHasRole="['ESPECIALISTA_MEDICO', 'PROFESIONAL_DE_SALUD', 'ENFERMERO', 'ESPECIALISTA_EN_ODONTOLOGIA']"
												mat-icon-button [matMenuTriggerFor]="menu">
											<mat-icon>more_vert</mat-icon>
										</button>
										<mat-menu #menu="matMenu">
											<button mat-menu-item (click)="goToHospitalizationEpisode(problem)">
												<span [translate]="'ambulatoria.paciente.problemas.ACCEDER'"></span>
											</button>
										</mat-menu>
									</ng-container>
								</mat-list-item>
								<mat-divider></mat-divider>
							</div>
						</mat-list>
					</app-summary-card>
				</div>
			</div>
		</div>
	</section>

	<section id="historical-problems" fxLayout="column" fxLayoutGap="20px">

		<h2 class="page-title" [translate]="'ambulatoria.paciente.problemas.HISTORICAL_TITLE'"></h2>

		<mat-tab-group [(selectedIndex)]="selectedTab">

			<mat-tab>
				<ng-template mat-tab-label>
					<span class="tab-label">
						{{ 'ambulatoria.paciente.problemas.HISTORICAL_HSI_TAB_LABEL' | translate }}
					</span>
				</ng-template>
				<mat-card class="historical-card">
					<mat-card-content>
						<div fxLayout="row" fxLayout.lt-md="column">

							<div id="filters" class="filter-panel historical-item" fxFlex.gt-sm="30">
								<div fxLayout="row" fxLayoutAlign="space-between start">
									<mat-card-subtitle>
										<span *ngIf="historicalProblemsList" id="historicalProblemsAmount">
											{{historicalProblemsAmount}} {{ 'ambulatoria.paciente.problemas.RESULTS' |
											translate }} </span>
									</mat-card-subtitle>
									<button mat-icon-button color="primary" fxShow="false" fxShow.lt-md="true"
										(click)="hideFilters()">
										<mat-icon fontSet="material-icons-outlined">filter_list</mat-icon>
									</button>
								</div>
								<app-historical-problems-filters fxShow="true" [fxShow.lt-md]="hideFilterPanel">
								</app-historical-problems-filters>
							</div>

							<div fxLayout="column" fxFlex.gt-sm="70" class="historical-list"
								id="historical-problem-mapping" *ngIf="historicalProblemsList?.length">
								<div *ngFor="let historicalProblem of historicalProblemsList">
									<div class="historical-item">
										<div fxLayout="row" fxLayoutGap="15px">
											<div fxFlex="7" fxLayout="row" fxLayoutAlign="end">
												<mat-icon mat-list-icon fontSet="material-icons-outlined"
													color="primary">
													assignment
												</mat-icon>
											</div>

											<div fxLayout="column" fxLayoutGap="15px" fxFlex="calc(88% - 15px)">
												<div fxLayout="row" fxLayout.lt-md="column"
													fxLayoutAlign="space-between" fxLayoutGap="10px">

													<div fxLayout="column" fxFlex="70" fxFlex.lt-md="100"
														fxLayoutGap="10px">
														<h2 class="mat-h2 page-title primary capitalize-first-letter">
															{{historicalProblem.problemPt}}</h2>
														<div *ngIf="historicalProblem.specialityPt">
															<div class="mat-body-strong"
																[translate]="'ambulatoria.paciente.problemas.historical-problems.SPECIALTY'">
															</div>
															<div class="mat-body capitalize-first-letter">
																{{historicalProblem.specialityPt}}</div>
														</div>

														<div *ngIf="historicalProblem.consultationReasons?.length">
															<div class="mat-body-strong"
																[translate]="'ambulatoria.paciente.problemas.historical-problems.REASONS'">
															</div>
															<div
																*ngFor="let reason of historicalProblem.consultationReasons">
																<div class="mat-body capitalize-first-letter">
																	{{reason.reasonPt}}</div>
															</div>
														</div>

														<div *ngIf="historicalProblem.consultationProcedures.length">
															<div class="mat-body-strong"
																[translate]="'ambulatoria.paciente.problemas.historical-problems.PROCEDURES'">
															</div>
															<div
																*ngFor="let procedure of historicalProblem.consultationProcedures">
																<div class="mat-body capitalize-first-letter">
																	{{procedure.procedurePt}}
																</div>
															</div>
														</div>
													</div>
													<div fxLayout="column" fxLayoutGap="10px" fxFlex="calc(25% - 10px)"
														fxFlex.lt-md="100">

														<div>
															<h3 class="mat-h2 primary"
																[translate]="'ambulatoria.paciente.problemas.historical-problems.CONSULTATION_DATE'">
															</h3>
															{{historicalProblem.consultationDate | date : 'dd/MM/yyyy'}}
														</div>
														<div>
															<h3 class="mat-h2 primary"
																[translate]="'ambulatoria.paciente.problemas.historical-problems.PROFESSIONAL'">
															</h3>
															{{getFullName(historicalProblem.professionalFirstName, historicalProblem.professionalNameSelfDetermination)}} {{historicalProblem.professionalLastName}}
														</div>
													</div>
													<div fxLayout="column" fxLayoutGap="10px" fxFlex="calc(10% - 10px)"
														 fxFlex.lt-md="100" fxLayoutAlign="start end">
														<div>
															<button mat-icon-button color="primary" id="download_document" name="download_document"
																	(click)="downloadDocument(historicalProblem.document)">
																<mat-icon fontSet="material-icons-outlined">download_icon</mat-icon>
															</button>
														</div>
													</div>
												</div>

												<div *ngIf="historicalProblem.consultationEvolutionNote">
													<h3 class="mat-h2 primary"
														[translate]="'ambulatoria.paciente.problemas.historical-problems.EVOLUTION_NOTE'">
													</h3>
													<p class="mat-body capitalize-first-letter">
														{{historicalProblem.consultationEvolutionNote}}</p>
												</div>

												<div id="reference_information" *ngIf="historicalProblem.reference?.length">

													<div class="reference-description" *ngFor="let reference of historicalProblem.reference" fxLayout="column" fxFlex.lt-md="100"
													fxLayoutGap="10px">

														<ng-container>
															<strong class="reference-counterref-title reference-request uppercase"
																[translate]="'ambulatoria.paciente.problemas.historical-problems.REFERENCE_REQUEST'"></strong>
														</ng-container>

														<div fxLayout="row" fxLayoutGap="10px">
															<strong [translate]="'ambulatoria.paciente.problemas.historical-problems.CARE_LINE'"></strong>
															<span>{{reference.careLine}}</span>
														</div>

														<div fxLayout="row" fxLayoutGap="10px">
															<strong [translate]="'ambulatoria.paciente.problemas.historical-problems.SPECIALTY'"></strong>
															<span>{{reference.clinicalSpecialty}}</span>
														</div>

														<div *ngIf="reference.note" fxLayout="column" fxLayoutGap="10px">
															<strong [translate]="'ambulatoria.paciente.problemas.historical-problems.SUMMARY_REFERENCE'"></strong>
															<span>{{reference.note}}</span>
														</div>

														<div class="primary" *ngFor="let file of reference.files" fxLayout="row">
															<mat-icon>attachment_icon</mat-icon>
															<span class="span-clickable" (click)="downloadReferenceFile(file)">
																{{file.fileName}}
															</span>
														</div>


														<div *ngIf="reference.counterReference?.counterReferenceNote" fxLayout="row" fxLayout.lt-md="column"
														fxLayoutAlign="space-between" fxLayoutGap="10px">

															<div fxLayout="column" fxFlex="70" fxFlex.lt-md="100"
															fxLayoutGap="10px">

																<div class="counterreference-title" fxLayout="row" fxLayoutGap="10px" >

																	<mat-icon>subdirectory_arrow_right</mat-icon>

																	<ng-container>
																		<strong class="reference-counterref-title counterreference-request uppercase"
																			[translate]="'ambulatoria.paciente.problemas.historical-problems.COUNTERREFERENCE'"></strong>
																	</ng-container>

																</div>

																<div class="counterreference-description" fxLayout="column" fxLayoutGap="10px">

																	<div fxLayout="row" fxLayoutGap="10px">
																		<strong [translate]="'ambulatoria.paciente.problemas.historical-problems.SPECIALTY'"></strong>
																		<span>{{reference.counterReference.clinicalSpecialtyId}}</span>
																	</div>

																	<div fxLayout="column" *ngIf="reference.counterReference.procedures.length">
																		<strong [translate]="'ambulatoria.paciente.problemas.historical-problems.PROCEDURES'"></strong>
																		<ul *ngFor="let procedure of reference.counterReference.procedures">
																			<li>
																				<span>{{procedure.snomed.pt}}</span>
																			</li>
																		</ul>
																	</div>

																	<div *ngIf="reference.counterReference.counterReferenceNote" fxLayout="column" fxLayoutGap="10px">
																		<strong [translate]="'ambulatoria.paciente.problemas.historical-problems.COUNTERREFERENCE'"></strong>
																		<span>{{reference.counterReference.counterReferenceNote}}</span>
																	</div>

																	<div class="primary" *ngFor="let file of reference.counterReference.files" fxLayout="row">
																		<mat-icon>attachment_icon</mat-icon>
																		<span class="span-clickable" (click)="downloadCounterreferenceFile(file)">
																			{{file.fileName}}
																		</span>
																	</div>

																</div>
															</div>

															<div fxLayout="column" fxLayoutGap="10px" fxFlex="calc(30% - 10px)"
															fxFlex.lt-md="100">

																<div>
																	<h3 class="mat-h2 primary"
																		[translate]="'ambulatoria.paciente.problemas.historical-problems.CONSULTATION_DATE'">
																	</h3>
																	<span>{{reference.counterReference.performedDate.day}}/{{reference.counterReference.performedDate.month}}/{{reference.counterReference.performedDate.year}}</span>

																</div>

																<div fxLayout="column">
																	<h3 class="mat-h2 primary"
																		[translate]="'ambulatoria.paciente.problemas.historical-problems.PROFESSIONAL'">
																	</h3>
																	<span>{{reference.counterReference.professional?.firstName}}</span>
																	<span>{{reference.counterReference.professional?.lastName}}</span>
																</div>

															</div>
														</div>

													</div>

												</div>

											</div>

										</div>
									</div>
								</div>
								<mat-divider inset></mat-divider>
							</div>

						<section fxLayout="column" fxLayoutAlign="space-around center" fxFlex="70"
							*ngIf="!historicalProblemsList">
							<div class="no-data-styles">
								<span [translate]="'messages.NO_DATA'"></span>
							</div>
						</section>

						<section fxLayout="column" fxLayoutAlign="space-around center" fxFlex="70"
							*ngIf="historicalProblemsList && !historicalProblemsList.length">
							<div class="no-data-styles">
								<span [translate]="'ambulatoria.paciente.problemas.NO_FILTERED_PROBLEMS'"></span>
							</div>
						</section>
					</div>

					</mat-card-content>
				</mat-card>

			</mat-tab>

			<ng-container *ngIf="showExternalClinicalHistoryTab">
				<mat-tab>
					<ng-template mat-tab-label>
						<span class="tab-label">
							{{ 'ambulatoria.paciente.problemas.HISTORICAL_EXTERNAL_TAB_LABEL' | translate }}
						</span>
					</ng-template>

					<mat-card class="historical-card">
						<mat-card-content>
							<div fxLayout="column" fxLayout.gt-sm="row">

								<div class="filter-panel historical-item" fxFlex.gt-sm="30">
									<div fxLayout="row" fxLayoutAlign="space-between center">
										<mat-card-subtitle>
											<span *ngIf="externalClinicalHistoryList">
												{{ externalClinicalHistoryAmount }} {{
												'ambulatoria.paciente.problemas.RESULTS' | translate }}
											</span>
										</mat-card-subtitle>
										<button mat-icon-button color="primary" fxShow.gt-sm="false"
											(click)="toggleExternalFilters()">
											<mat-icon fontSet="material-icons-outlined">filter_list</mat-icon>
										</button>
									</div>
									<div fxLayout="column" [fxShow]="showExternalFilters" fxShow.gt-sm="true">
										<app-external-clinical-histories-filters>
										</app-external-clinical-histories-filters>
									</div>
								</div>

								<div fxLayout="column" fxFlex.gt-sm="70" class="historical-list"
									*ngIf="externalClinicalHistoryList?.length">
									<div *ngFor="let externalClinicalHistory of externalClinicalHistoryList">
										<div class="historical-item">
											<app-external-clinical-history
												[externalClinicalHistory]="externalClinicalHistory">
											</app-external-clinical-history>
										</div>
										<mat-divider inset></mat-divider>
									</div>
								</div>

								<section fxLayout="column" fxLayoutAlign="space-around center" fxFlex.gt-sm="70"
									*ngIf="!externalHistoriesInformation">
									<div class="no-data-styles">
										<span [translate]="'messages.NO_DATA'"></span>
									</div>
								</section>

								<section fxLayout="column" fxLayoutAlign="space-around center" fxFlex.gt-sm="70"
									*ngIf="externalHistoriesInformation && !externalClinicalHistoryList?.length">
									<div class="no-data-styles">
										<span
											[translate]="'ambulatoria.paciente.problemas.NO_FILTERED_PROBLEMS'"></span>
									</div>
								</section>

							</div>
						</mat-card-content>
					</mat-card>

				</mat-tab>
			</ng-container>

		</mat-tab-group>



	</section>
</app-content>
