<app-content width="full">
	<section class="page">
		<h2 class="page-title" [translate]="'pacientes.new.TITLE_TEMPORARY'"></h2>
		<h3 [translate]="'pacientes.new.SUBTITLE'"></h3>
		<form [formGroup]="form" (ngSubmit)="save()" fxLayout="column" fxLayoutGap="10px" fxLayoutGap.lt-sm="15px">
			<div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0">
				<div fxFlex="30" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px"
					[ngClass]="!identificationTypeIdDisabled ? 'white-bg-color' : ''">
					<div [ngClass]="identificationTypeIdDisabled ? 'color-disabled' : ''">
						<span [translate]="'pacientes.form.IDENTIFICATION_TYPE'"></span>
					</div>
					<mat-form-field appearance="outline">
						<mat-select id="identificationTypeId" name="identificationTypeId"
							formControlName="identificationTypeId"
							placeholder="{{'pacientes.form.SELECT' | translate}}">
							<mat-option *ngFor="let identificationType of identificationTypeList"
								[value]="identificationType.id">
								{{identificationType.description}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>

				<div fxFlex="30" fxFlex.lt-md="100" fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px"
					[ngClass]="!identificationNumberDisabled ? 'white-bg-color' : ''">
					<div [ngClass]="identificationNumberDisabled ? 'color-disabled' : ''">
						<span [translate]="'pacientes.form.IDENTIFICATION_NUMBER'"></span>
					</div>
					<mat-form-field appearance="outline">
						<input id="identificationNumber" name="identificationNumber"
							formControlName="identificationNumber"
							placeholder="{{'pacientes.form.ONLY_NUMBERS' | translate}}" matInput>
						<mat-error *ngIf="hasError(form, 'maxlength', 'identificationNumber')">
							{{ 'pacientes.form.IDENTIFICATION_NUMBER_MAXLENGHT_ERROR' | translate }}
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div [ngClass]="!genderIdDisabled ? 'white-bg-color' : ''">
				<div [ngClass]="genderIdDisabled ? 'color-disabled' : ''">
					<span [translate]="'pacientes.form.GENDER'"></span>
				</div>
				<mat-radio-group formControlName="genderId">
					<mat-radio-button *ngFor="let gender of genders" [value]="gender.id">{{gender.description}}
					</mat-radio-button>
				</mat-radio-group>
			</div>
			<br>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div [ngClass]="firstNameDisabled && middleNamesDisabled ? 'color-disabled' : ''">
					<span [translate]="'pacientes.form.FIRST_NAMES_TITLE'"></span>
				</div>
				<div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0">
					<div fxFlex="30" fxFlex.lt-md="100" [ngClass]="!firstNameDisabled ? 'white-bg-color' : ''">
						<mat-form-field appearance="outline">
							<input id="firstName" name="firstName" formControlName="firstName"
								placeholder="{{'pacientes.form.FIRST_NAME' | translate}}"
								[maxLength]="PERSON_MAX_LENGTH.firstName" matInput>
						</mat-form-field>
					</div>

					<div fxFlex="30" fxFlex.lt-md="100" [ngClass]="!middleNamesDisabled ? 'white-bg-color' : ''">
						<mat-form-field appearance="outline">
							<input id="middleNames" name="middleNames" formControlName="middleNames"
							placeholder="{{'pacientes.form.MIDDLE_NAMES' | translate}}"
							[maxLength]="PERSON_MAX_LENGTH.middleNames" matInput>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div [ngClass]="lastNameDisabled && otherLastNamesDisabled ? 'color-disabled' : ''">
					<span [translate]="'pacientes.form.LAST_NAME_TITLE'"></span>
				</div>
				<div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0">
					<div fxFlex="30" fxFlex.lt-md="100" [ngClass]="!lastNameDisabled ? 'white-bg-color' : ''">
						<mat-form-field appearance="outline">
							<input id="lastName" name="lastName" formControlName="lastName"
								placeholder="{{'pacientes.form.LAST_NAME' | translate}}"
								[maxLength]="PERSON_MAX_LENGTH.lastName" matInput>
						</mat-form-field>
					</div>
					<div fxFlex="30" fxFlex.lt-md="100" [ngClass]="!otherLastNamesDisabled ? 'white-bg-color' : ''">
						<mat-form-field appearance="outline">
							<input id="otherLastNames" name="otherLastNames" formControlName="otherLastNames"
								placeholder="{{'pacientes.form.OTHER_LAST_NAMES' | translate}}"
								[maxLength]="PERSON_MAX_LENGTH.otherLastNames" matInput>
						</mat-form-field>
					</div>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.MOTHERS_LAST_NAME'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline"  fxFlex="30" fxFlex.lt-md="100">
						<input id="mothersLastName" name="mothersLastName" formControlName="mothersLastName"
							placeholder="{{'pacientes.form.MOTHERS_LAST_NAME' | translate}}"
							[maxLength]="PERSON_MAX_LENGTH.mothersLastName" matInput>
					</mat-form-field>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div [ngClass]="birthDateDisabled ? 'color-disabled' : ''">
					<span [translate]="'pacientes.form.BIRTH_DATE'"></span>
				</div>
				<div fxLayout="row" [ngClass]="!birthDateDisabled ? 'white-bg-color' : ''">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<input formControlName="birthDate" id="birthDate" matInput [max]="today" [matDatepicker]="picker2">
						<mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
						<mat-datepicker #picker2></mat-datepicker>
					</mat-form-field>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.GENDER_SELF_DETERMINATION'"></span>
				</div>
				<div fxLayout="row" fxLayoutGap="10px" fxLayout.lt-sm="column" fxLayoutGap.lt-sm="0" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="50" fxFlex.lt-sm="100">
						<mat-select formControlName="genderSelfDeterminationId"
							(selectionChange)="showOtherSelfPerceivedGender()"
							placeholder="{{ 'pacientes.form.GENDER_SELF_DETERMINATION' | translate }}">
							<mat-option *ngFor="let gender of selfPerceivedGenders" [value]="gender.id">
								{{ gender.description }}
							</mat-option>
						</mat-select>
						<button *ngIf="form.value.genderSelfDeterminationId" type="button" matSuffix color="warn"
							mat-icon-button (click)="clearGenderSelfDetermination(); $event.stopPropagation();">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
					<ng-container *ngIf="showOtherGender" class="white-bg-color">
						<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
							<input matInput maxlength="GENDER_MAX_LENGTH" required
								formControlName="otherGenderSelfDetermination"
								placeholder="{{ 'pacientes.form.OTHER_SELF_PERCEIVED_GENDER_LABEL' | translate }}">
							<mat-error [translate]="'forms.MAX_LENGTH_ERROR'"
								[translateParams]="{ max: GENDER_MAX_LENGTH }"
								*ngIf="hasError(form, 'maxlength', 'otherGenderSelfDetermination')">
							</mat-error>
							<mat-error [translate]="'forms.REQUIRED'"
								*ngIf="hasError(form, 'required', 'otherGenderSelfDetermination')">
							</mat-error>
						</mat-form-field>
					</ng-container>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.NAME_SELF_DETERMINATION'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<input id="nameSelfDetermination" name="nameSelfDetermination"
							formControlName="nameSelfDetermination"
							placeholder="{{'pacientes.form.NAME_SELF_DETERMINATION' | translate}}" maxlength="25" matInput>
					</mat-form-field>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.CUIT_CUIL'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<input id="cuil" name="cuil" formControlName="cuil"
						placeholder="{{'pacientes.form.ONLY_NUMBERS' | translate}}" matInput>
					</mat-form-field>
					<mat-error *ngIf="hasError(form, 'maxlength', 'cuil')">
						{{ 'pacientes.form.IDENTIFICATION_NUMBER_MAXLENGHT_ERROR' | translate }}
					</mat-error>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.ADDRESS'"></span>
				</div>
				<div class="form-row" id="address-fields" fxLayoutGap="10px" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<mat-select id="addressCountryId" name="addressCountryId" formControlName="addressCountryId"
							placeholder="{{'pacientes.form.ADDRESS_COUNTRY' | translate}}"
							(selectionChange)="setProvinces()">
							<mat-option *ngFor="let country of countries" [value]="country.id">
								{{country.description}}
							</mat-option>
						</mat-select>
						<button id="clear_address_country" type="button" mat-button *ngIf="form.value.addressCountryId" matSuffix
							color="warn" mat-icon-button (click)="clear(form.controls.addressCountryId); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<mat-select id="addressProvinceId" name="addressProvinceId" formControlName="addressProvinceId"
							placeholder="{{'pacientes.form.ADDRESS_PROVINCE' | translate}}"
							(selectionChange)="setDepartments()">
							<mat-option *ngFor="let province of provinces" [value]="province.id">
								{{province.description}}
							</mat-option>
						</mat-select>
						<button id="clear_address_province" type="button" mat-button *ngIf="form.value.addressProvinceId" matSuffix
							color="warn" mat-icon-button (click)="clear(form.controls.addressProvinceId); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<mat-select id="addressDepartmentId" name="addressDepartmentId"
							formControlName="addressDepartmentId"
							placeholder="{{'pacientes.form.ADDRESS_DEPARTMENT' | translate}}"
							(selectionChange)="setCities()">
							<mat-option *ngFor="let department of departments" [value]="department.id">
								{{department.description}}
							</mat-option>
						</mat-select>
						<button id="clear_address_departament" type="button" mat-button *ngIf="form.value.addressDepartmentId" matSuffix
							color="warn" mat-icon-button (click)="clear(form.controls.addressDepartmentId); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<mat-select id="addressCityId" name="addressCityId" formControlName="addressCityId"
							placeholder="{{'pacientes.form.ADDRESS_CITY' | translate}}">
							<mat-option *ngFor="let city of cities" [value]="city.id">
								{{city.description}}
							</mat-option>
						</mat-select>
						<button id="clear_address_city" type="button" mat-button *ngIf="form.value.addressCityId" matSuffix
							color="warn" mat-icon-button (click)="clear(form.controls.addressCityId); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<input id="addressPostcode" name="addressPostcode" formControlName="addressPostcode" maxlength="6"
							pattern="[0-9]{1,6}" placeholder="{{'pacientes.form.ADDRESS_POSTCODE' | translate}}" matInput>
						<mat-error *ngIf="hasError(form,'pattern', 'addressPostcode')  && formSubmitted"
							[translate]="'pacientes.form.INVALID'"></mat-error>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<input id="addressStreet" name="addressStreet" formControlName="addressStreet" maxlength="35"
							maxlength="35" placeholder="{{'pacientes.form.ADDRESS_STREET' | translate}}" matInput>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<input id="addressNumber" name="addressNumber" formControlName="addressNumber" maxlength="5"
							placeholder="{{'pacientes.form.ADDRESS_NUMBER' | translate}}" matInput>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<input id="addressFloor" name="addressFloor" formControlName="addressFloor" maxlength="2"
							placeholder="{{'pacientes.form.ADDRESS_FLOOR' | translate}}" matInput>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<input id="addressApartment" name="addressApartment" formControlName="addressApartment"
							maxlength="3" placeholder="{{'pacientes.form.ADDRESS_APARTMENT' | translate}}" matInput>
					</mat-form-field>

					<mat-form-field appearance="outline" fxFlex.lt-sm="100">
						<input id="addressQuarter" name="addressQuarter" formControlName="addressQuarter" maxlength="30"
							placeholder="{{'pacientes.form.ADDRESS_QUARTER' | translate}}" matInput>
					</mat-form-field>
				</div>
			</div>
			<div class="form-row white-bg-color" fxLayoutGap="10px">
				<div>
					<div>
						<span [translate]="'pacientes.form.PHONE_PREFIX'"></span>
					</div>
					<mat-form-field class="prefix-field" appearance="outline">
						<input id="phonePrefix" name="phonePrefix" (keyup)="updatePhoneValidators()" formControlName="phonePrefix" maxlength="10"
							   placeholder="{{'pacientes.form.PHONE_PREFIX' | translate}}" matInput>
						<mat-error *ngIf="hasError(form, 'required', 'phonePrefix')">
							<span translate="forms.REQUIRED"></span>
						</mat-error>
					</mat-form-field>
				</div>
				<div>
					<div>
						<span [translate]="'pacientes.form.PHONE_NUMBER'"></span>
					</div>
					<mat-form-field appearance="outline">
						<input id="phoneNumber" (keyup)="updatePhoneValidators()" name="phoneNumber" formControlName="phoneNumber" maxlength="15"
							   placeholder="{{'pacientes.form.PHONE_NUMBER' | translate}}" matInput>
						<mat-error *ngIf="hasError(form, 'required', 'phoneNumber')">
							<span translate="forms.REQUIRED"></span>
						</mat-error>
					</mat-form-field>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.EMAIL'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<input id="email" name="email" formControlName="email" placeholder="usuario@usuario.com" maxlength="100"
							matInput>
						<mat-error *ngIf="hasError(form,'email', 'email')  && formSubmitted"
							[translate]="'pacientes.form.INVALID'"></mat-error>
					</mat-form-field>
				</div>
			</div>

			<div fxLayout="column">
				<span [translate]="'pacientes.form.MEDICAL_COVERAGE'"></span>
				<button mat-stroked-button color="primary" type="button" (click)="openMedicalCoverageDialog()"
					class="medical-coverage">
					<span [translate]="'pacientes.form.UPDATE_MEDICAL_COVERAGE'"></span>
				</button>
			</div>

			<ng-container *appFeatureFlag="'AGREGAR_MEDICOS_ADICIONALES'">
				<div class="form-row" class="white-bg-color">
					<div>
						<div>
							<span [translate]="'pacientes.form.GENERAL_PRACTITIONER'"></span>
						</div>
						<mat-form-field appearance="outline">
							<input id="generalPractitioner" name="generalPractitioner"
								formControlName="generalPractitioner"
								placeholder="{{'pacientes.form.FULL_NAME' | translate}}" matInput>
						</mat-form-field>
					</div>

					<div>
						<div>
							<span [translate]="'pacientes.form.PHONE_NUMBER'"></span>
						</div>
						<mat-form-field appearance="outline">
							<input id="phoneNumber" name="generalPractitionerPhoneNumber"
								formControlName="generalPractitionerPhoneNumber" maxlength="15"
								placeholder="{{'pacientes.form.PHONE_NUMBER' | translate}}" matInput>
						</mat-form-field>
					</div>
				</div>

				<div class="form-row">
					<div>
						<div>
							<span [translate]="'pacientes.form.PAMI_DOCTOR'"></span>
						</div>
						<mat-form-field appearance="outline">
							<input id="pamiDoctor" name="pamiDoctor" formControlName="pamiDoctor"
								placeholder="{{'pacientes.form.FULL_NAME' | translate}}" matInput>
						</mat-form-field>
					</div>

					<div>
						<div>
							<span [translate]="'pacientes.form.PHONE_NUMBER'"></span>
						</div>
						<mat-form-field appearance="outline">
							<input id="pamiDoctorPhoneNumber" name="pamiDoctorphoneNumber"
								formControlName="pamiDoctorPhoneNumber" maxlength="15"
								placeholder="{{'pacientes.form.PHONE_NUMBER' | translate}}" matInput>
						</mat-form-field>
					</div>
				</div>
			</ng-container>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.RELIGION'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<input id="religion" name="religion" formControlName="religion" maxlength="25"
							placeholder="{{'pacientes.form.RELIGION' | translate}}" matInput>
					</mat-form-field>
				</div>
			</div>

			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.ETHNIC'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<mat-select id="ethnicity-select" formControlName="ethnicityId"
							placeholder="{{'pacientes.form.ETHNIC' | translate}}">
							<mat-option *ngFor="let ethnicity of ethnicities" [value]="ethnicity.id">
								{{ethnicity.pt | titlecase}}
							</mat-option>
						</mat-select>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.OCCUPATION'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<mat-select id="occupation-select" formControlName="occupationId"
							placeholder="{{'pacientes.form.OCCUPATION' | translate}}">
							<mat-option *ngFor="let occupation of occupations" [value]="occupation.id"
								matTooltip="{{ occupation.description }}">
								{{occupation.description}}
							</mat-option>
						</mat-select>
						<button id="clear-occupation" type="button" mat-button *ngIf="form.controls.occupationId.value"
							matSuffix color="warn" mat-icon-button
							(click)="form.controls.occupationId.reset(); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</div>
			<div fxLayout="column" fxLayoutGap="0" fxLayoutGap.lt-sm="10px">
				<div>
					<span [translate]="'pacientes.form.EDUCATION_LEVEL'"></span>
				</div>
				<div fxLayout="row" class="white-bg-color">
					<mat-form-field appearance="outline" fxFlex="30" fxFlex.lt-md="100">
						<mat-select id="educationLevel-select" formControlName="educationLevelId"
							placeholder="{{'pacientes.form.EDUCATION_LEVEL' | translate}}">
							<mat-option *ngFor="let educationLevel of educationLevels" [value]="educationLevel.id"
								matTooltip="{{ educationLevel.description }}">
								{{educationLevel.description}}
							</mat-option>
						</mat-select>
						<button id="clear-educationLevel" type="button" mat-button
							*ngIf="form.controls.educationLevelId.value" matSuffix color="warn" mat-icon-button
							(click)="form.controls.educationLevelId.reset(); $event.stopPropagation()">
							<mat-icon>close</mat-icon>
						</button>
					</mat-form-field>
				</div>
			</div>
			<div *appHasRole="['ADMINISTRATIVO']" class="form-buttons">
				<button mat-stroked-button color="secondary" (click)="goBack()">
					<span [translate]="'buttons.BACK'"></span>
				</button>
				<button mat-raised-button color="primary" type="submit" [disabled]="isSubmitButtonDisabled">
					<span [translate]="'buttons.CONTINUE'"></span>
				</button>
			</div>
		</form>
	</section>
</app-content>
