@import "../../../../../assets/styles/mixins";
@import "../../../../../assets/styles/mat-mixins";
@import "../../turnos-mixins";

form {

	@include mat-form-field-background-white;

	.mat-form-field {
		width: 35%;
	}

	.datepicker-container .mat-form-field {
		width: 90%;
	}

	@media screen and (max-width: 959px) {
		.mat-form-field, .datepicker-container .mat-form-field {
			width: 100%;
		}
	}

	mwl-calendar-week-view ::ng-deep mwl-calendar-week-view-event.ng-star-inserted div {
		display: flex;
		flex-direction: column;
		text-align: center;
		justify-content: center;
	}

	mwl-calendar-week-view ::ng-deep .cal-week-view .cal-event {
		color: #000000;
	}

	mwl-calendar-week-view ::ng-deep .cal-week-view .cal-time-events {
		max-height: 700px;
		overflow-y: scroll;
	}

	mwl-calendar-week-view ::ng-deep .cal-day-headers {
		margin-right: 14.5px;
	}

	mwl-calendar-week-view ::ng-deep .cal-day-columns {
		height: 100%;
	}
}

.fixed-header {
    @include fixed-header;
}

.checkbox {
	margin-top: 0px;
}

.professional-form-sector {
	width: 50%;
	margin-right: -10%;
}

.add-prefessional-button {
	width: fit-content;
	text-align: left;
}

.mat-form-field-on-div {
	width: 70% !important;
}
