<app-content width="full">
	<section>
		<h2 class="page-title" [translate]="'pacientes.home.TITLE'"></h2>
		<div  fxLayout="row">
			<app-search-create
				fxFlex.xs="100%"
				fxFlex.sm="90%"
				fxFlex.md="70%"
				fxFlex.lg="60%"
				fxFlex.xl="50%"
			></app-search-create>
		</div>
	</section>
	<section *appHasRole="['ADMINISTRATIVO']">
		<h2 class="page-title" [translate]="'pacientes.home.TITLE_SEARCH'"></h2>
		<div fxLayout="row">
			<app-internment-patient-table fxFlex="100%" [redirect]="redirect"></app-internment-patient-table>
		</div>
	</section>
</app-content>

