<div class="footer-container" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-around center">
	<div class="footer-logos" fxFlex="70" fxFlexOffset.gt-sm="15" fxFlexOffset.lt-md="0">
		<img src='assets/custom/footer/footer_center.png' [alt]="'logos.footer_center' | translate">
	</div>
	<div class="footer-version">
		<span *ngIf="applicationVersionNumber" class="footer-version-text">
			<strong translate="app.SHORT_NAME"></strong>
			<span [translate]="'version.SHORTENED'"
				  [translateParams]="{versionNumber: applicationVersionNumber}"></span>
		</span>
	</div>

</div>
