<div fxLayout="column" fxLayoutGap="30px">
	<app-category-header-divider [header]="header"></app-category-header-divider>

	<div id="content" *ngIf="contents.length; else noData" fxLayout="column" fxLayoutGap="20px">
		<div *ngFor="let content of contents">
			<app-list-element-item [content]="content"></app-list-element-item>
		</div>
	</div>
</div>

<ng-template #noData>
	<div class="no-data mat-typography color-grey">
		<span>{{noInformation | translate}}</span>
	</div>
</ng-template>
