.label {
	border-radius: 6px;
	padding: 3px 8px;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	font-weight: 400px
}

.professional-elapsed-time {
	font-weight: 400;
	font-size: 12px;
}

.extra-info {
	font-size: 14px;
	line-height: 22px;
	.extra-info-title {
		font-weight: 500;
	}
}

.color-grey {
	color: #A8A8A8;
}

.content {
	height: auto;
	word-break: break-word;
}

.yellow {
	background-color: #fadeae;
	color: #FFA500;
}

.green {
	background-color: #a1f3b4;
	color: #27AE60;
}

.grey {
	background-color: #F2F2F2;
	color: #BDBDBD;
}