.element-margin {
	margin: 10px 0 0 0;
}

.element-light-color {
	color: rgba(0, 0, 0, 0.54);
}

.label {
	border-radius: 6px;
	padding: 3px 8px;
	margin: 10px;
	font-size: 14px;
	line-height: 19px;
	text-align: center;
	font-weight: 400px;
}
