@import "./assets/styles/theme";
@import "./assets/styles/variables.scss";

html,
body {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

body noscript {
	display: block;
	padding: 5% 10%;
	margin: auto 0;

	text-align: center;

	img {
		max-width: 500px;
	}
}

h2.page-title {
	font-size: x-large;
}

section {
	margin: 3vh 0;

	&.page {
		margin-bottom: 14vh;
	}
}

.capitalize {
	text-transform: capitalize;
}

.capitalize-first-letter {
	&::first-letter {
		text-transform: capitalize;
	}
}

.uppercase {
	text-transform: uppercase;
}

.lowercase {
	text-transform: lowercase;
}

@media (max-width: $mobile-popups) {
	div.cdk-global-overlay-wrapper div.cdk-overlay-pane {
		width: calc(100% - 220px) !important;

		&.dock-popup-overlay.maximized {
			max-height: 100vh !important;
			height: 100vh !important;
			width: 100% !important;
		}
	}
}

div.cdk-global-overlay-wrapper div.cdk-overlay-pane {
	&.dock-popup-overlay.minimized-without-header {
		visibility: hidden;
	}
}

.dark-theme {
	@include angular-material-color($dark-theme);
	@include custom-components-color($dark-theme);
	@include material-mixins($dark-theme);
}

.candy-app-theme {
	@include angular-material-color($candy-app-theme);
	@include custom-components-color($candy-app-theme);
	@include material-mixins($candy-app-theme);
}