.red {
  color: #eb5757;
  background-color: rgba(235, 87, 87, 20%);
}

.yellow {
  color: #ff8a00;
  background-color: rgba(255, 237, 217, 15);
}

.green {
  color: #27ae60;
  background-color: rgba(50, 194, 91, 15%);
}

.grey {
  color: #A4A2A2;
  background-color: rgba(184, 175, 175, 15%);
}

span {
  border-radius: 6px;
  padding: 3px 8px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  font-weight: 400px;
}
